@import "vanilla-framework/scss/vanilla";

.share-card {
  background-color: $color-light;
  border: solid 1px $color-mid-x-light;
  border-radius: 2px;
  margin-bottom: 1rem;
  padding: 1rem;

  select {
    margin-bottom: 0;
  }

  &__supplementary {
    color: $color-mid-dark;
    max-width: 80%;

    form {
      margin-top: 1rem;
      max-width: 50%;
    }
  }

  &__title {
    display: flex;
    margin-left: auto;
    width: 100%;
  }

  &__secondary {
    margin-left: auto;
  }

  .p-icon--delete {
    cursor: pointer;
  }

  &[data-active="true"] {
    background-color: rgba(0, 102, 204, 0.05);
    border: 1px solid $color-link;
    transition: background-color 0.5s;
  }
}
