@import "vanilla-framework/scss/vanilla";
@import "../../../../../scss/breakpoints";

.secrets-table {
  td,
  th {
    // Revision.
    &:nth-child(3) {
      width: 9%;
    }

    // Actions
    &:nth-child(9) {
      width: 7%;
    }

    @include mobile-and-medium {
      // Actions
      &:nth-child(9) {
        width: 12%;
      }

      // Description.
      &:nth-child(4),
      // Granted to.
      &:nth-child(6),
      // Created.
      &:nth-child(7) {
        display: none;
      }
    }

    @include mobile {
      // Revision.
      &:nth-child(2) {
        width: 15%;
      }

      // Revision.
      &:nth-child(3) {
        width: 20%;
      }

      // Actions
      &:nth-child(9) {
        width: 25%;
      }

      // Owner.
      &:nth-child(5),
      // Updated.
      &:nth-child(8) {
        display: none;
      }
    }
  }
}