@import "../../../../../scss/settings";
@import "vanilla-framework/scss/vanilla";
@import "../../../../../scss/breakpoints";

@mixin action-logs {
  .entity-details__action-logs {
    td,
    th {
      // Completion time.
      &:nth-child(5) {
        width: 15%;
      }

      @include mobile-and-medium {
        // Completion time.
        &:nth-child(5) {
          display: none;
        }
      }

      @include mobile {
        // Status.
        &:nth-child(3) {
          width: 25%;
        }

        // Log messages.
        &:nth-child(4) {
          display: none;
        }
      }
    }
  }

  .action-logs__stdout {
    display: block;
  }

  .action-logs__stderr {
    color: $color-negative;
  }
}

@include action-logs;
