$breakpoint-medium: 772px;

.p-chart {
  @media (min-width: $breakpoint-medium) {
    display: flex;
    align-items: center;

    .p-chart__chart {
      flex: 1;
    }

    .p-chart__legend {
      flex: 1;
    }
  }

  @media (max-width: $breakpoint-medium) {
    .p-chart__chart {
      display: none;
    }
  }
}

.p-legend {
  .p-legend__item {
    padding-left: 1rem;
    position: relative;

    &::before {
      position: absolute;
      left: 0;
      top: 0.65rem;
      content: "";
      display: inline-block;
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
    }

    &.is-blocked::before {
      background-color: #c7162b;
    }

    &.is-alert::before {
      background-color: #f99b11;
    }

    &.is-running::before {
      background-color: #cdcdcd;
    }
  }
}
