@import "vanilla-framework/scss/vanilla";
@import "../../../scss/breakpoints";

.p-strip.is-shallow.controllers-overview {
  padding-top: 0;
}

.controllers-overview {
  width: 100%;

  &__chart {
    margin-right: 2rem;

    @include mobile {
      margin-bottom: 2rem;
      margin-right: 0;
    }
  }

  &__container {
    display: flex;

    @include mobile {
      flex-direction: column;
    }
  }
}
