# Logs
*.log

# Documentation
README.md

# Version control
.git*
.github

# Local development tooling
run
env*
.env*
.*.hash
.docker-project
.vscode
.editorconfig
public/config.local.js

# Cache files
cache.sqlite
.webcache*

# Testing
tests

# Node
node_modules

# Docker
.dockerignore
Dockerfile
