{
  "extends": ["react-app", "prettier/react"],
  "plugins": ["prettier", "jest"],
  "rules": {
    "react/prop-types": 0,
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js"]
      }
    ],
    "import/prefer-default-export": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "jest/prefer-expect-assertions": 0,
    "jest/prefer-inline-snapshots": 0,
    "jest/lowercase-name": 0,
    "jest/no-hooks": 0,
    "default-case": 0,
    "no-param-reassign": 0,
    "no-case-declarations": 0,
    "prefer-destructuring": 0
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "windowLocation": true,
    "jujuDashboardConfig": true,
    "lightningjs": true
  }
}
