{
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:react/jsx-runtime",
    "plugin:prettier/recommended",
    "plugin:import/typescript",
    "plugin:promise/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:react-hooks/recommended",
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json",
    "ecmaFeatures": {
      "jsx": true,
    },
  },
  "plugins": [
    "prettier",
    "vitest",
    "promise",
    "react-refresh",
    "react",
    "import",
  ],
  "root": true,
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-misused-promises": "error",
    "prefer-promise-reject-errors": "error",
    "@typescript-eslint/await-thenable": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".tsx"],
      },
    ],
    "import/prefer-default-export": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc",
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index",
        ],
      },
    ],
    "vitest/prefer-expect-assertions": 0,
    "vitest/no-hooks": 0,
    "default-case": 0,
    "no-param-reassign": 0,
    "no-case-declarations": 0,
    "no-constant-condition": ["error", { "checkLoops": false }],
    "prefer-destructuring": 0,
    "react/no-unescaped-entities": 0,
    "react/display-name": 0,
    "@typescript-eslint/no-duplicate-enum-values": 0,
    "promise/catch-or-return": ["error", { "allowFinally": true }],
    "react-refresh/only-export-components": ["error"],
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "caughtErrors": "none",
        "argsIgnorePattern": "^_",
        "destructuredArrayIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
      },
    ],
    "no-unused-expressions": "off",
    "@typescript-eslint/no-unused-expressions": [
      "error",
      { "allowShortCircuit": true },
    ],
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"],
      },
    },
    "react": {
      "version": "detect",
    },
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "windowLocation": true,
    "jujuDashboardConfig": true,
    "lightningjs": true,
  },
}
