{
  "extends": [
    "react-app",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:import/typescript",
    "plugin:promise/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "parser": "@typescript-eslint/parser",
    "project": "./tsconfig.json"
  },
  "plugins": ["prettier", "jest", "promise"],
  "root": true,
  "rules": {
    "@typescript-eslint/consistent-type-imports": "error",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-misused-promises": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".tsx"]
      }
    ],
    "import/prefer-default-export": 0,
    "import/imports-first": ["error", "absolute-first"],
    "import/newline-after-import": "error",
    "import/order": [
      "error",
      {
        "newlines-between": "always",
        "alphabetize": {
          "order": "asc"
        },
        "groups": [
          "builtin",
          "external",
          "internal",
          "parent",
          "sibling",
          "index"
        ]
      }
    ],
    "jest/prefer-expect-assertions": 0,
    "jest/prefer-inline-snapshots": 0,
    "jest/lowercase-name": 0,
    "jest/no-hooks": 0,
    "default-case": 0,
    "no-param-reassign": 0,
    "no-case-declarations": 0,
    "prefer-destructuring": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  },
  "globals": {
    "window": true,
    "document": true,
    "localStorage": true,
    "windowLocation": true,
    "jujuDashboardConfig": true,
    "lightningjs": true
  }
}
