node_modules/
build/
.docker-project
.yarn.canonical-webteam-juju-dashboard*
yarn-error.log
/package-lock.json
.DS_Store
juju-dashboard*.tar.bz2
coverage/
.dotrun.json
/.eslintcache
.vscode/
pkg/
public/config.local.js
.nfs.*