node_modules/
build/
*.charm
.docker-project
.yarn.canonical-webteam-juju-dashboard*
yarn-error.log
/package-lock.json
.DS_Store
juju-dashboard*.tar.bz2
coverage/
.dotrun.json
/.eslintcache
.vscode/
pkg/
/.idea/
public/config.local.js
.nfs.*
/charms/machine-charm/src/dist

.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env.local
.env.*.local
venv
.venv

__pycache__
*.py[cod]

# Playwright
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
