{
  "extends": "stylelint-config-standard",
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "order/properties-alphabetical-order": true,
    "at-rule-no-unknown": [ true, {
      "ignoreAtRules": ["extend", "mixin", "include", "function", "if", "warn", "return", "at-root"]
    } ],
    "no-invalid-position-at-import-rule": null
  }
}
