@import "vanilla-framework/scss/vanilla";

.panel {
  &-header {
    margin: 3.5rem 2rem 2rem 0.5rem;

    @media (min-width: $breakpoint-medium) {
      margin-top: 0.5rem;
    }

    .row {
      padding: 0;
    }

    .status-icon {
      left: 0.5rem;
    }

    .entity-name {
      font-weight: 400;
      margin-bottom: 0.25rem;
    }

    @media (max-width: $breakpoint-medium) {
      [class*="col"] {
        margin-bottom: 1rem;
      }
    }
  }

  &__label {
    color: $color-mid-dark;
    display: inline-block;

    @media (min-width: $breakpoint-medium) {
      text-align: right;
    }
  }

  &__value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  &__kv {
    display: grid;
    gap: 1rem;
    grid-template-columns: 100px 1fr;
    margin-bottom: 0.25rem;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}
