@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

@mixin entity-details-layout {
  .entity-details {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    max-width: 100%;
    overflow: hidden;
    padding-bottom: 3rem;
    padding-top: 1rem;

    &__content-header {
      margin: 0 2rem 2rem 0.5rem;

      @media (min-width: $breakpoint-medium) {
        display: flex;
        margin-top: 0.5rem;
      }

      .entity-name {
        font-weight: 400;
        margin-bottom: 0.25rem;
      }

      .entity-status {
        left: -3px;
        position: relative;
      }

      i[class*="p-icon"] {
        margin-right: 0.5rem;
      }

      [class*="panel__id"] {
        text-transform: capitalize;
      }

      @media (max-width: $breakpoint-medium) {
        [class*="col"] {
          margin-bottom: 1rem;
        }
      }
    }

    &__loading {
      align-items: center;
      display: flex;
      justify-content: center;
      min-height: calc(100vh - 48px);
      width: 100%;
    }

    &__tables {
      overflow-x: scroll;
      scrollbar-width: none;
    }

    .chip-group {
      margin-bottom: 1rem;
    }

    &__counts {
      display: flex;

      strong {
        margin-right: 1rem;
      }
    }

    @media (min-width: $breakpoint-medium) {
      gap: 1rem;
      grid-template-columns: 230px 1fr;
    }

    @media (min-width: $breakpoint-m-large) {
      grid-template-columns: 350px 1fr;
    }

    @media (max-width: $breakpoint-medium - 1) {
      & + .slide-panel {
        .p-modal__close {
          margin-top: 7rem !important;
        }
      }
    }
  }
}

@mixin entity-details-header {
  .entity-details__header {
    display: block;
    padding-top: 0.75rem;

    @media (min-width: $breakpoint-medium) {
      align-items: center;
      display: grid;
      gap: 2rem;
      grid-template-columns: 1fr;
      grid-template-columns: auto 1fr;
      padding-top: 0;
    }

    .p-breadcrumbs {
      .p-breadcrumbs__items,
      .p-breadcrumbs__item {
        margin-bottom: 0;
      }

      .p-breadcrumbs__item:not(:first-of-type) {
        text-indent: 1.25rem;
      }
    }

    // Modified styling of the Vanilla tabbed component. To remove the border
    // bottom as it sits on a border already.
    .entity-details__view-selector {
      @media (max-width: $breakpoint-medium) {
        margin-left: -1rem;
        width: calc(100% + 2rem);
      }
    }

    .p-tabs {
      &::after {
        display: none;
      }

      .p-tabs__list {
        margin-bottom: 0;

        &::after {
          background-color: transparent;
        }
      }

      &__link {
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;

        &::before {
          background-color: transparent;
        }
      }
    }
  }

  .entity-details__filters {
    display: flex;
    margin-left: auto;
  }
}

@mixin entity-details-title {
  .entity-details__title {
    @media (max-width: $breakpoint-medium - 1) {
      margin-bottom: 0.75rem;
    }
  }
}

@mixin entity-details-subordinates {
  .subordinate-row {
    border-top: none !important;
  }

  .subordinate {
    margin-right: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &::before {
      content: url("../../static/images/unit-tree.svg");
      left: 0.75rem;
      position: absolute;
      top: -0.25rem;
    }
  }
}

@mixin entity-details-tables {
  /* stylelint-disable no-descending-specificity */
  .p-main-table {
    th,
    td {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    tr {
      @include vf-animation(background, brisk, ease-in-out);

      &.is-selected,
      &.is-selected:hover {
        background-color: #cef3ff;
      }
    }

    caption {
      margin-top: 0.5rem;
    }
  }

  .entity-details__apps {
    th,
    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 10%;
      }

      &:nth-child(8) {
        width: 25%;
      }
    }
  }

  .entity-details__units {
    th,
    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 35%;
      }
    }
  }

  .entity-details__machines,
  .entity-details__relations {
    th,
    td {
      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 25%;
      }

      &:nth-child(3) {
        width: 10%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        max-width: 150px;
        width: 20%;
      }
    }
  }

  // .entity-details__offers, // DISABLED PANEL
  // .entity-details__remote-apps, // DISABLED PANEL
  .entity-details__apps,
  .entity-details__units,
  .entity-details__machines {
    tbody tr:hover {
      background-color: #e7f9ff;
      cursor: pointer;
    }
  }
  /* stylelint-enable no-descending-specificity */
}

@mixin entity-details__button-group {
  .entity-details .p-button-group {
    .p-button-group__buttons {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      margin-bottom: 1.5rem;
    }

    .p-button-group__button {
      padding: 0.5rem 1rem;

      &.is-selected {
        font-weight: 400;
      }
    }
  }
}

@mixin entity-details__actions {
  .entity-details__actions {
    margin-bottom: 1rem;

    & + div {
      border-top: 1px solid $color-mid-x-light;
      padding-top: 1.5rem;
    }

    .entity-details__action-button {
      border: none;
      margin: 0;
      padding-left: 0.25rem;
      text-align: left;
      width: 100%;

      i {
        margin: 0 0.5rem;
      }
    }
  }
}

@mixin entity-icons {
  .entity-icon {
    border-radius: 50%;
    height: 1.5rem;
    margin-right: 0.5rem;
    position: relative;
    vertical-align: top;
    width: 1.5rem;
  }
}

@include entity-details-layout;
@include entity-details-header;
@include entity-details-title;
@include entity-details-subordinates;
@include entity-details-tables;
@include entity-details__actions;
@include entity-details__button-group;
@include entity-icons;

.SidebarChannelNavigator {
  display: none;
}
