@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";
@import "../../scss/breakpoints";
@import "../../scss/custom/icons";
@import "../../scss/variables";
@include vf-b-placeholders;

@mixin entity-details-layout {
  .entity-details {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 0;
    max-width: 100%;
    padding-bottom: 0;
    padding-top: 1rem;

    &__content-header {
      margin: 0 2rem 2rem 0.5rem;

      @include desktop {
        display: flex;
        margin-top: 0.5rem;
      }

      .entity-name {
        font-weight: 400;
        margin-bottom: 0.25rem;
      }

      .entity-status {
        left: -3px;
        position: relative;
      }

      i[class*="p-icon"] {
        margin-right: 0.5rem;
      }

      [class*="panel__id"] {
        text-transform: capitalize;
      }

      @include mobile {
        [class*="col"] {
          margin-bottom: 1rem;
        }
      }
    }

    &__counts {
      display: flex;

      strong {
        margin-right: 1rem;
      }
    }

    @include desktop {
      gap: 1rem;
      grid-template-columns: 230px 1fr;
    }

    @include mobile {
      & + .slide-panel {
        .p-modal__close {
          margin-top: 7rem !important;
        }
      }
    }
  }
}

@mixin entity-details-header {
  .p-panel__title.entity-details__header {
    display: block;
    padding-bottom: 0;
    padding-top: 0.75rem;

    @include desktop {
      align-items: center;
      display: grid;
      gap: 2rem;
      grid-template-columns: repeat(3, 1fr);
      padding-top: 0;
    }

    .p-breadcrumbs {
      .p-breadcrumbs__items,
      .p-breadcrumbs__item {
        margin-bottom: 0;
      }

      .p-breadcrumbs__item:not(:first-of-type) {
        text-indent: 1.25rem;
      }
    }

    &.entity-details__header--single-col {
      gap: 0;
      grid-template-columns: 1fr;
      min-height: $top-header-height;

      @include desktop {
        grid-template-columns: 1fr;
      }

      .p-breadcrumbs {
        // Centre the content to match the tabs.
        margin-bottom: 1.25rem;
        margin-top: 1.25rem;
      }
    }

    // Modified styling of the Vanilla tabbed component. To remove the border
    // bottom as it sits on a border already.
    .entity-details__view-selector {
      @include mobile {
        margin-left: -1rem;
        width: calc(100% + 2rem);
      }
    }

    .p-tabs {
      &::after {
        display: none;
      }

      .p-tabs__list {
        margin-bottom: 0;

        &::after {
          background-color: transparent;
        }
      }

      &__link {
        padding-bottom: 1.25rem;
        padding-top: 1.25rem;

        &::before {
          background-color: transparent;
        }
      }

      // Override the spacing between the hover state and bottom border to
      // match the height of the breadcrumbs.
      .p-tabs__link:hover::before,
      .p-tabs__link:hover:focus:not(:focus-visible)::before {
        bottom: 0;
        height: calc($bar-thickness);
      }
    }
  }

  .entity-details__filters {
    display: flex;
    margin-left: auto;
  }
}

@mixin entity-details-title {
  .entity-details__title {
    @include mobile {
      margin-bottom: 0.75rem;
    }
  }
}

@mixin entity-details-subordinates {
  .subordinate-row {
    border-top: none !important;
  }

  .subordinate {
    margin-right: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &::before {
      @extend %icon;
      @include vf-icon-unit-tree($color-mid-dark);

      background-size: auto;
      content: "";
      left: 0.5rem;
      position: absolute;
    }
  }
}

@mixin entity-details-tables {
  /* stylelint-disable no-descending-specificity */
  .p-main-table {
    tr {
      @include vf-animation(all, brisk, ease-in-out);

      &.is-selected,
      &.is-selected:hover {
        background-color: #cef3ff;
      }
    }

    caption {
      margin-top: 0.5rem;
    }

    .p-table__logo {
      float: left;
      margin-right: 0.5rem;
      margin-top: 0.1rem;
    }
  }

  .entity-details__apps {
    &:not(.selectable) {
      th,
      td {
        // Version.
        &:nth-child(3) {
          width: 10%;
        }

        // Scale.
        &:nth-child(4) {
          width: 10%;
        }

        @include mobile-and-medium {
          // Scale.
          &:nth-child(4) {
            width: 15%;
          }

          // Version.
          &:nth-child(3),
          // Revision.
          &:nth-child(5),
          // Store.
          &:nth-child(6) {
            display: none;
          }
        }

        @include mobile {
          // Message.
          &:nth-child(7) {
            display: none;
          }
        }
      }
    }
  }

  .entity-details__apps.selectable {
    th,
    td {
      // Checkbox.
      &:nth-child(1) {
        width: 2rem;
      }

      // Version.
      &:nth-child(4) {
        width: 10%;
      }

      // Scale.
      &:nth-child(5) {
        width: 10%;
      }

      @include mobile-and-medium {
        // Scale.
        &:nth-child(5) {
          width: 15%;
        }

        // Version.
        &:nth-child(4),
        // Revision.
        &:nth-child(6),
        // Store.
        &:nth-child(7) {
          display: none;
        }
      }

      @include mobile {
        // Message.
        &:nth-child(8) {
          display: none;
        }
      }
    }
  }

  .entity-details__units {
    &:not(.has-checkbox) {
      th,
      td {
        // Agent.
        &:nth-child(3) {
          width: 10%;
        }

        // Machine.
        &:nth-child(4) {
          width: 15%;
        }

        @include mobile-and-medium {
          // Agent.
          &:nth-child(3) {
            width: 15%;
          }

          // Machine.
          &:nth-child(4),
          // Message
          &:nth-child(7),
          // Ports.
          &:nth-child(6) {
            display: none;
          }
        }

        @include mobile {
          // Public address.
          &:nth-child(5) {
            display: none;
          }
        }
      }
    }

    &.has-checkbox {
      th,
      td {
        width: unset;

        // Checkbox.
        &:nth-child(1) {
          width: 2rem;
        }

        // Agent.
        &:nth-child(4) {
          width: 10%;
        }

        // Machine.
        &:nth-child(5) {
          width: 15%;
        }

        @include mobile-and-medium {
          // Agent.
          &:nth-child(4) {
            width: 15%;
          }

          // Machine.
          &:nth-child(5),
          // Message
          &:nth-child(8),
          // Ports.
          &:nth-child(7) {
            display: none;
          }
        }

        @include mobile {
          // Public address.
          &:nth-child(6) {
            display: none;
          }
        }
      }

      .p-checkbox {
        margin: 0;
        padding: 0;
      }
    }
  }

  .entity-details__integrations {
    th,
    td {
      // Type.
      &:nth-child(4) {
        width: 15%;
      }

      @include mobile-and-medium {
        // Type.
        &:nth-child(4) {
          display: none;
        }
      }

      @include mobile {
        // Requirer.
        &:nth-child(2) {
          display: none;
        }
      }
    }
  }

  .entity-details__machines {
    th,
    td {
      // Name.
      &:nth-child(1) {
        width: 15%;
      }

      @include mobile-and-medium {
        // AZ.
        &:nth-child(4),
        // Message.
        &:nth-child(6) {
          display: none;
        }
      }

      @include mobile {
        // Instance ID.
        &:nth-child(5) {
          display: none;
        }
      }
    }
  }
  /* stylelint-enable no-descending-specificity */

  // Override the status icon so that it truncates inside the tooltip wrapper.
  .entity-details__machines .status-icon {
    display: inline;
  }
}

@mixin entity-details__button-group {
  .entity-details .p-button-group {
    .p-button-group__button {
      padding: 0.5rem 1rem;

      &.is-selected {
        font-weight: 400;
      }
    }
  }
}

@mixin entity-details__actions {
  .entity-details__actions {
    margin-bottom: 1rem;

    & + div {
      border-top: 1px solid $color-mid-x-light;
      padding-top: 1.5rem;
    }

    .entity-details__action-button {
      border: none;
      margin: 0;
      padding-left: 0.25rem;
      text-align: left;
      width: 100%;

      i {
        margin: 0 0.5rem;
      }
    }
  }
}

@mixin entity-icons {
  .entity-icon {
    border-radius: 50%;
    height: 1.5rem;
    margin-right: 0.5rem;
    position: relative;
    vertical-align: top;
    width: 1.5rem;
  }
}

@mixin entity-details__action-button-row {
  .entity-details__action-button-row {
    border-bottom: 1px solid $color-mid-light;
    border-top: 1px solid $color-mid-light;

    .entity-details__action-button {
      margin: 0.3rem 0;
    }

    .entity-details__action-button-divider {
      border-right: 1px solid $color-mid-light;
    }
  }
}

@mixin entity-details__action-logs {
  .entity-details__unit-indent {
    margin-left: 0.3rem;
    margin-right: 0.75rem;
  }
}

@include entity-details-layout;
@include entity-details-header;
@include entity-details-title;
@include entity-details-subordinates;
@include entity-details-tables;
@include entity-details__actions;
@include entity-details__button-group;
@include entity-icons;
@include entity-details__action-button-row;
@include entity-details__action-logs;

.SidebarChannelNavigator {
  display: none;
}
