@import "vanilla-framework/scss/vanilla";

.p-button {
  &--filter {
    border: solid 1px $color-mid-light;
    border-radius: 4px;
    font-size: 0.875rem;
    line-height: 1.5;
    margin: 0;
    padding: 0 0.5rem 0;
    text-transform: capitalize;
  }
}
