@import "vanilla-framework/scss/vanilla";

.models {
  &__count {
    display: none;
    font-size: 0.875rem;
    padding: 0 1.5rem;

    @media (min-width: $breakpoint-large) {
      display: block;
    }
  }

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;
    padding: 0.15rem;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: 1fr 280px;
    }

    @media (min-width: $breakpoint-large) {
      grid-template-columns: repeat(2, 1fr) 260px;
    }

    .search-and-filter {
      @media (min-width: $breakpoint-medium) {
        position: absolute;
        right: 0.75rem;
        top: 0.3rem;
        width: 300px;
      }
    }
  }

  // Tooltips override
  .p-tooltip--top-center .p-tooltip__message {
    left: calc(50% - 0.875rem);
    margin-bottom: -0.5rem;
  }
}
