.models {
  &__count {
    display: none;
    font-size: 0.875rem;
    padding: 0 1.5rem;

    @media (min-width: 1200px) {
      display: block;
    }
  }

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 280px 3rem;

    @media (min-width: 1200px) {
      grid-template-columns: 1fr 1fr 260px 3rem;
    }
  }

  tr {
    display: grid;
    grid-template-columns: 1fr 0.6fr 0.75fr 1.15fr 1fr 0.5fr 0.65fr;
  }

  .cloud-group tr {
    grid-template-columns: 1.15fr 0.75fr 0.6fr 0.75fr 0.85fr 1fr 0.5fr 0.65fr;
  }

  // Tooltips override
  .p-tooltip--top-center .p-tooltip__message {
    left: calc(50% - 0.875rem);
    margin-bottom: -0.5rem;
  }
}
