.add-model {
  .step-number {
    color: #000;
  }

  .step-content {
    max-width: 100%;
  }

  .stepper-horizontal {
    justify-content: space-between;
  }

  .p-inline-list__item {
    width: 100%;
  }

  .step {
    border-top: 1px solid $color-mid-x-light;
    width: revert;
  }

  .progress-line {
    border-top: 1px solid $color-dark;

    .step-number {
      background-color: $color-dark;
      color: $color-light;
    }
  }

  .step-disabled {
    color: #000;
  }

  .add-user-btn {
    display: flex;
    margin-bottom: 0;
    padding-left: 0.5rem;

    @media (min-width: $breakpoint-small) {
      display: none;
    }
  }

  .p-notification--negative {
    margin: 0 1rem;
  }

  .p-radio {
    margin-bottom: 1rem;

    .help-text {
      color: $color-mid-dark;
      display: block;
      font-size: #{map-get($font-sizes, small)}rem;
      text-indent: 0;
    }
  }

  .action-wrapper {
    display: flex;
    margin-top: 2rem;

    button {
      margin-left: auto;
    }
  }

  .add-cards {
    &__heading {
      display: flex;

      button {
        margin-bottom: 0.5rem;
        margin-left: auto;
        padding-left: 1rem;
      }
    }
  }
}
