@import "vanilla-framework/scss/vanilla";

.controllers {
  th {
    padding-bottom: 6px;
    padding-top: 6px;
  }

  td,
  th {
    &:first-child {
      min-width: 25%;
      white-space: nowrap;
    }
  }

  &--count {
    font-size: 0.875rem;
    padding: 0 1.5rem;
    line-height: 32px; // to synchronize the height between the model page.
  }

  &--header {
    border-bottom: 1px solid $color-dark;
    color: $color-mid-dark;
    font-size: 0.76562rem;
    font-weight: 400;
    padding: 6px 16px;
    text-transform: uppercase;
  }

  .register-a-controller {
    margin-top: 1rem;
    text-align: right;

    button {
      margin: 0;
    }
  }

  .slide-panel--content {
    padding: 0 1rem;
  }

  .controllers--registered-tooltip {
    @include vf-icon-help($color-mid-light);

    cursor: pointer;
    margin-left: 0.4rem;
  }
}
