@import "vanilla-framework/scss/vanilla";

.controllers {
  td,
  th {
    &:first-child {
      min-width: 25%;
      white-space: nowrap;
    }
  }

  .register-a-controller {
    text-align: right;
  }

  .slide-panel--content {
    padding: 0 1rem;
  }

  .controllers--registered-tooltip {
    cursor: pointer;
    margin-left: 0.4rem;
    @include vf-icon-help($color-mid-light);
  }
}
