@import "vanilla-framework/scss/vanilla";
@import "../../scss/settings";
@import "../../scss/breakpoints";
@import "../../scss/variables";

$panel-padding: 1.5rem;

.slide-panel.config-panel .slide-panel__content {
  padding: $panel-padding 0 0;
}

.config-panel {
  $magic-title-height: 4.7rem;
  $magic-drawer-height: 5rem;

  /* prettier-ignore */
  $magic-non-content-height: ($panel-padding * 2) + $top-header-height + $magic-drawer-height + $magic-title-height;
  $magic-min-height: calc(100vh - #{$magic-non-content-height});

  overflow-y: auto;

  &__modal-button-row-hint {
    font-size: #{map-get($font-sizes, small)}rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  .config-content {
    @media (max-width: $breakpoint-large) {
      grid-template-columns: 1fr !important;
    }

    &.row {
      padding: 0;
    }
  }

  h5 {
    margin-bottom: 0.2rem;
  }

  pre {
    // reset the vanilla pre styling
    background-color: inherit;
    border: none;
    padding: 0;
    // extra styles
    white-space: pre-wrap;
    word-break: keep-all;
  }

  .full-size {
    display: flex;
    justify-content: center;
    min-height: $magic-min-height;
    text-align: center;
  }

  .config-panel__hide-button {
    @include vf-animation(opacity, brisk, out);

    opacity: 0;
  }

  .config-panel__show-button {
    opacity: 1;
  }

  &__reset-all {
    flex: 1 0 auto;
    margin-left: auto;

    &.config-panel__hide-button {
      overflow: hidden;
      position: absolute;
      right: 1.5rem;
      top: 0;
    }
  }

  &__message {
    padding-top: 6rem;

    @include desktop {
      padding-top: 3rem;
    }

    h4 {
      margin-top: 3rem;
    }
  }

  &--center-img {
    margin: 0 auto;
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    margin: 2rem 0 1rem;
    padding: 0 1.5rem;
    position: relative;

    @media (max-width: $breakpoint-x-small) {
      flex-direction: column;
    }

    @include mobile {
      margin-top: 4rem;
      padding-right: 4rem; // Spacing for the close X
      padding-top: 1rem;
    }

    button {
      margin-bottom: 0;
      margin-left: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      white-space: nowrap;

      @media screen and (max-width: $breakpoint-x-small) {
        margin-left: inherit;
      }
    }

    .entity-name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      .entity-icon {
        vertical-align: text-bottom;
      }
    }
  }

  &__config-list {
    border-right: 1px solid $color-mid-light;
    padding-top: 1rem;

    @media screen and (max-width: $breakpoint-large) {
      border-right: none;
    }
  }

  &__list {
    min-height: $magic-min-height;
    padding: 0 1rem;
  }

  &__description {
    margin-top: 2rem;
    padding-right: 1.5rem;

    @media screen and (max-width: $breakpoint-large) {
      display: none !important;
    }

    &-wrapper {
      position: sticky;
      top: 1rem;
    }
  }

  &__no-description {
    min-height: $magic-min-height;
    padding: 0 5rem;
    position: sticky;
    text-align: center;
    top: 0;
  }

  &__drawer {
    background-color: white;
    bottom: 0;
    box-shadow: none;
    position: sticky;

    @media screen and (max-width: $breakpoint-x-small) {
      padding-right: 0;
    }

    &.is-open {
      box-shadow: $box-shadow;
    }
  }

  &__button-row {
    border-top: 1px solid $color-mid-light;
    margin: 0 1.5rem;
    text-align: right;

    button {
      margin-top: 1.2rem;
    }

    button.config-panel__save-button {
      @include vf-animation(opacity, brisk, out);

      span {
        padding-left: 1rem;
      }
    }
  }
}

.config-input {
  border: 1px solid transparent;
  border-radius: 2px;
  border-radius: $border-radius;
  margin-bottom: $spv--small;
  padding: 0 0.5rem;

  &--focused {
    @include vf-animation(#{background-color, border-color}, brisk, out);

    background-color: $color-blue-highlight-background;
    border-color: $color-blue-highlight-border;
  }

  &--changed:not(.config-input--focused) {
    background-color: $color-light;
  }

  .config-input--view-description {
    display: none;
    // Give the toggle button a larger hit area:
    margin: -$spv--x-small 0 0 (-$spv--small);
    padding: $spv--x-small $spv--small;

    .p-icon--minus,
    .p-icon--plus {
      width: #{map-get($font-sizes, small)}rem;
    }

    @media screen and (max-width: $breakpoint-large) {
      display: inline-block;
    }
  }

  &--description {
    @include vf-animation(max-height, brisk, out);

    clear: both;
    display: none;
    font-size: #{map-get($font-sizes, small)}rem;
    margin-bottom: 0.5rem;
    margin-left: 1.3rem;
    max-height: 0;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-large) {
      display: block;
    }
  }

  button {
    color: $color-link;
    margin: 0.3rem 0 0;
    padding: 0;

    &:hover {
      background-color: inherit;
    }
  }

  @media screen and (max-width: $breakpoint-x-small) {
    button {
      width: auto;
    }
  }

  @media screen and (min-width: $breakpoint-large) {
    textarea {
      margin-bottom: 1.2rem !important;
    }
  }

  textarea {
    border: 1px solid $color-grey60;
    border-radius: 2px;
    height: 2.3rem;
    margin-bottom: 0.7rem;
    min-height: 2.3rem;
    resize: vertical;
  }
}
