@import "vanilla-framework/scss/vanilla";
@import "../../scss/settings";
@import "../../scss/breakpoints";
@import "../../scss/variables";

.config-panel {
  &__modal-button-row-hint {
    font-size: #{map-get($font-sizes, small)}rem;
    margin-bottom: 1.5rem;
    text-align: left;
  }

  h5 {
    margin-bottom: 0.2rem;
  }

  pre {
    // reset the vanilla pre styling
    background-color: inherit;
    border: none;
    padding: 0;
    // extra styles
    white-space: pre-wrap;
    word-break: keep-all;
  }

  .config-panel__hide-button {
    @include vf-animation(opacity, brisk, out);

    opacity: 0;
    white-space: nowrap;
    width: auto;

    &[aria-hidden="true"] {
      width: 0;
    }
  }

  .config-panel__show-button {
    opacity: 1;
  }

  &__reset-all {
    flex: 1 0 auto;
    margin-left: auto;
    text-align: right;

    &.config-panel__hide-button {
      overflow: hidden;
      position: absolute;
      right: $sph--large * 2;
      top: 0;
    }
  }

  &__message {
    padding: 6rem $sph--large * 2 0;

    @include desktop {
      padding-top: 3rem;
    }

    h4 {
      margin-top: 3rem;
    }
  }

  &__list-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: $spv--large;
    padding-left: $sph--small;
    position: relative;

    h5 {
      // Need to leave extra room for the reset button so that when it appears/disappears
      // it does not move the content around.
      padding-bottom: $sph--small;
    }

    @media (max-width: $breakpoint-x-small) {
      flex-direction: column;
    }

    @include mobile {
      padding-right: 4rem; // Spacing for the close X
      padding-top: 1rem;
    }

    button {
      margin-bottom: 0;
      margin-left: 1rem;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
      white-space: nowrap;

      @media screen and (max-width: $breakpoint-x-small) {
        margin-left: inherit;
      }
    }
  }

  .aside-split-col--right {
    @include mobile {
      // On mobile the descriptions are shown next to the fields instead of in
      // the split column.
      display: none !important;
    }
  }
}

.config-input {
  border: 1px solid transparent;
  border-radius: 2px;
  border-radius: $border-radius;
  margin-bottom: $spv--small;
  padding: 0 0.5rem;

  &--focused {
    @include vf-animation(#{background-color, border-color}, brisk, out);

    background-color: $color-blue-highlight-background;
    border-color: $color-blue-highlight-border;
  }

  &--changed:not(.config-input--focused) {
    background-color: $color-light;
  }

  &__title {
    display: flex;
  }

  .config-input--view-description {
    display: none;
    // Give the toggle button a larger hit area:
    margin: ($spv--x-small * 0.5) 0 0 (-$spv--small);
    padding: $spv--x-small $spv--small;

    .p-icon--minus,
    .p-icon--plus {
      width: #{map-get($font-sizes, small)}rem;
    }

    @media screen and (max-width: $breakpoint-small) {
      display: inline-block;
    }
  }

  &--description {
    @include vf-animation(max-height, brisk, out);

    clear: both;
    display: none;
    font-size: #{map-get($font-sizes, small)}rem;
    margin-bottom: 0.5rem;
    margin-left: 1.3rem;
    max-height: 0;
    overflow: hidden;

    @media screen and (max-width: $breakpoint-small) {
      display: block;
    }
  }

  button {
    color: $color-link;
    margin: 0.3rem 0 0;
    padding: 0;

    &:hover {
      background-color: inherit;
    }
  }

  @media screen and (max-width: $breakpoint-x-small) {
    button {
      width: auto;
    }
  }

  @media screen and (min-width: $breakpoint-large) {
    textarea {
      margin-bottom: 1.2rem !important;
    }
  }

  textarea {
    height: 2.3rem;
    margin-bottom: 0.7rem;
    min-height: 2.3rem;
    resize: vertical;
  }
}
