@import "../../../../scss/settings";
@import "vanilla-framework/scss/vanilla";

@mixin action-logs {
  .action-logs__stdout {
    display: block;
  }

  .action-logs__stderr {
    color: $color-negative;
  }

  .entity-details__action-buttons {
    & > * {
      margin-right: $sp-small !important;
    }
  }
}

@include action-logs;
