@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

.webcli {
  bottom: 0;
  position: fixed;
  width: calc(100vw - #{$sidebar-collapsed});

  &__input {
    background-color: black;
    display: flex;
    height: 32px;
    padding: 0 1rem;

    &-prompt {
      color: #39b54a;
      flex-grow: 0;
      font-weight: bold;
      line-height: 2rem;
      padding-right: 1rem;
    }

    &-input[type="text"] {
      background-color: black;
      color: $color-mid-light;
      flex-grow: 1;
      height: 2rem;
      margin-bottom: 0;
      padding: 0;
    }

    &-help {
      flex-grow: 0;
      line-height: 2rem;

      i {
        cursor: pointer;
      }
    }
  }

  &__output {
    height: 300px;
    background-color: #2c001e;
  }
}
