@import "../../scss/settings";
@import "../../scss/breakpoints";
@import "../../scss/variables";
@import "vanilla-framework/scss/vanilla";

$canonical-purple: #2c001e;

.webcli {
  &__input {
    background-color: $color-x-dark;
    display: flex;
    height: $webcli-input-height;
    padding: 0 1rem;

    &-prompt {
      color: #39b54a;
      cursor: default;
      flex-grow: 0;
      // https://github.com/canonical-web-and-design/vanilla-framework/pull/3370
      // XXX The unquote will need to be removed with the next vanilla release
      font-family: unquote($font-monospace);
      font-weight: bold;
      line-height: $webcli-input-height;
      padding-right: 0.5rem;
    }

    form {
      flex-grow: 1;
    }

    &-input[type="text"],
    &-input[type="text"]:focus,
    &-input[type="text"]:hover {
      background-color: $color-x-dark;
      color: $color-mid-light;
      // https://github.com/canonical-web-and-design/vanilla-framework/pull/3370
      // XXX The unquote will need to be removed with the next vanilla release
      font-family: unquote($font-monospace);
      height: $webcli-input-height;
      margin-bottom: 0;
      padding: 0 0.5rem;
    }

    &-help {
      flex-grow: 0;
      line-height: $webcli-input-height;
      margin-left: 1rem;

      i {
        cursor: pointer;
      }
    }
  }

  &__output {
    background-color: $canonical-purple;
    height: 300px;
    min-height: $webcli-desktop-drag-height;
    overflow: hidden;

    @media (max-width: $breakpoint-large) {
      min-height: $webcli-mobile-drag-height;
    }

    a {
      text-decoration: underline;
    }

    code {
      padding-bottom: 1rem;
    }

    code,
    pre {
      background-color: $canonical-purple;
      border: none;
      color: $color-x-light;
      width: 100%;
    }

    &-content {
      overflow-y: scroll;
    }

    &-dragarea {
      cursor: row-resize;
      height: $webcli-desktop-drag-height;
      position: relative;
      user-select: none;
      width: 100%;
    }

    &-handle {
      background-color: $color-mid-light;
      height: 3px;
      margin-left: -2rem;
      position: absolute;
      right: 50%;
      top: 0;
      width: 2rem;
    }
  }

  .webcli__output-dragarea {
    @media (max-width: $breakpoint-large) {
      height: $webcli-mobile-drag-height;
    }
  }
}
