@import "vanilla-framework/scss/vanilla";
@import "../../scss/breakpoints";
@import "../../scss/functions/z-index";
@import "../../scss/variables";

// Scope the l-aside within l-application so that it can override the Vanilla styles.
.l-application .l-aside {
  overflow-x: hidden;

  &--initially-offscreen {
    transform: translateX(100%);
  }

  .loading {
    align-items: center;
    background-color: $color-x-light;
    display: flex;
    height: 100vh;
    justify-content: center;
    width: 100%;
  }

  &.is-split {
    @include desktop {
      max-width: 768px;
      width: 66%;
    }

    .aside-split-wrapper {
      display: flex;
      // Display the split wrappers side by side.
      flex-direction: row;
      padding-bottom: 1rem;

      .aside-split-col {
        display: flex;
        flex: 50%;
        // Make the content take the full height of the panel so that the drawer get
        // stuck to the bottom.
        flex-direction: column;

        @include desktop {
          &:last-child {
            border-left: 1px solid #ccc;
            margin-left: $sph--x-large;
            padding-left: $sph--x-large;
          }
        }
      }
    }
  }

  .p-panel {
    // Panels inside the aside do not need to handle overflow as this is already
    // handled by the aside, and doubling up prevents sticky from working in the children.
    // overflow-x: hidden;
    overflow: initial;

    .p-panel__content {
      overflow: initial;
    }
  }
}
