@import "vanilla-framework/scss/vanilla";
@import "xterm/css/xterm";

$terminal-shell-height: 10rem;
$terminal-header-height: 40px;

.p-terminal {
  &,
  &__toggle {
    @include vf-animation(transform, brisk, ease-in-out);
  }

  background-color: $color-x-dark;
  bottom: 0;
  color: $color-x-light;
  position: absolute;
  // Disable until connection issue fixed
  // https://github.com/canonical-web-and-design/jaas-dashboard/issues/107
  // transform: translateY(160px);
  width: 100%;

  &.is-visible {
    transform: translateY(0);
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 3rem;
    height: 40px;
    padding: 0.5rem;

    &:hover {
      cursor: pointer;
    }
  }

  &__toggle {
    text-align: center;
    transform: rotate(180deg);

    .is-visible & {
      transform: rotate(0);
    }
  }

  &__shell {
    height: $terminal-shell-height;
  }
}

.xterm-screen {
  margin: 0.5rem;
}

.xterm-viewport::-webkit-scrollbar {
  background: $color-dark;
}
