.destroy-model-table {
  width: -webkit-fill-available;

  tr {
    border: none !important;
  }

  .icon {
    margin-right: 10px;
    opacity: 0.5;
  }
}

.destroy-model-timeout {
  align-items: center;
  display: flex;

  .p-form-validation__input {
    margin: 12px 20px 15px;
    width: 50%;
  }
}
