@import "vanilla-framework/scss/vanilla";
@import "vanilla-framework/scss/base_placeholders";
@import "vanilla-framework/scss/patterns_icons";

@include vf-p-icons;
@include vf-b-placeholders;

@mixin vf-icon-share($color: $color-dark) {
  background-image: url("data:image/svg+xml,%3Csvg width='16' height='16' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 0a3 3 0 11-2.123 5.12L6.869 7.12a3 3 0 01-.029 1.848l3.058 1.89a3 3 0 11-.774 1.285l-3.109-1.922a3 3 0 11.068-4.381l3.032-2.017A3.002 3.002 0 0112 0zm0 11.5a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm-8-5a1.5 1.5 0 100 3 1.5 1.5 0 000-3zm8-5a1.5 1.5 0 100 3 1.5 1.5 0 000-3z' fill='#{vf-url-friendly-color($color)}' fill-rule='nonzero'/%3E%3C/svg%3E");
}

.share-model {
  .title-wrapper {
    display: flex;

    .p-button--base.has-icon {
      display: flex;
      margin-bottom: 0;
    }

    .p-icon--chevron-up {
      display: block;
      padding-right: 1rem;
      transform: rotate(90deg);
    }

    .p-icon--share {
      @extend %icon;

      @include vf-icon-share($color-dark);

      margin-right: 0.5rem;
      position: relative;
      top: 0.6rem;
    }

    &__heading {
      display: flex;
      margin-bottom: 0;
    }
  }

  .add-user-btn {
    display: flex;
    margin-bottom: 0;
    padding-left: 0.5rem;

    @media (min-width: $breakpoint-small) {
      display: none;
    }
  }

  .p-panel__content {
    padding: 1rem;
  }

  .p-notification--negative {
    margin: 0 1rem;
  }

  .p-radio {
    margin-bottom: 1rem;

    .help-text {
      color: $color-mid-dark;
      display: block;
      font-size: 0.875rem;
      padding-left: 2rem;
    }
  }

  .action-wrapper {
    display: flex;
    margin-top: 2rem;

    button {
      margin-left: auto;
    }
  }

  .share-cards {
    &__heading {
      display: flex;

      button {
        margin-bottom: 0.5rem;
        margin-left: auto;
        padding-left: 1rem;
      }
    }
  }

  // Toggle the cards and form view on small screens
  @media (max-width: $breakpoint-small) {
    [data-mobile-show-add-user="false"] {
      .add-new-user {
        display: none;
      }
    }

    [data-mobile-show-add-user="true"] {
      .share-cards {
        display: none;
      }
    }
  }
}
