@import "vanilla-framework/scss/vanilla";

.share-model {
  .title-wrapper {
    display: flex;

    i {
      margin-right: 1rem;
      position: relative;
      top: 0.5rem;
    }
  }

  .p-panel__content {
    padding: 1rem;
  }

  &__card {
    background-color: $color-light;
    border: solid 1px $color-mid-x-light;
    border-radius: 2px;
    margin-bottom: 1rem;
    padding: 1rem 1rem 0;

    .supplementary {
      color: $color-mid-dark;
    }

    &-title {
      display: flex;
      margin-left: auto;
      width: 100%;

      .secondary {
        margin-left: auto;
      }
    }

    .p-icon--delete {
      cursor: pointer;
    }
  }

  .p-radio {
    margin-bottom: 1rem;

    .help-text {
      color: $color-mid-dark;
      display: block;
      padding-left: 2rem;
    }
  }

  .action-wrapper {
    display: flex;
    margin-top: 2rem;

    button {
      margin-left: auto;
    }
  }
}
