.categories__form-scroll {
  margin-bottom: 1rem;
  max-height: min(27vh, calc(100vh - 26rem));
  min-height: 10rem;
  overflow-y: auto;

  @media (max-width: $breakpoint-large) {
    max-height: min(20rem, calc(100vh - 26rem));
  }
}

.categories__yaml-input {
  min-height: 10rem;
}
