.p-secondary-nav {
  .p-list__link {
    color: #111;
  }

  .p-list__item {
    padding-left: 1rem;

    &.is-selected {
      font-weight: 400;
      border-left: 5px solid #335280;
      padding-left: calc(1rem - 5px);
    }
  }
}
