// A clean way to deal with z-index layers in Sass
// Based on http://css-tricks.com/handling-z-index/

// A map of z layers
// All z-index values should be set there

$z-layers: (
  "alpha": -1,
  "beta": 1,
  "gamma": 2,
  "delta": 3,
  "epsilon": 4,
  "zeta": 5,
  "eta": 6,
  "theta": 7,
  "iota": 8,
  "kappa": 9
);

// A function helper to avoid having to type `map-get($z-layers, ...)`
// ---
// @param [string] $component: the layer to use
// ---
// @return [number] | [null]

@function z($layer) {
  @if not map-has-key($z-layers, $layer) {
    @warn "No z-index found in $z-layers map for `#{$layer}`. Property omitted.";
  }

  @return map-get($z-layers, $layer);
}
