@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";

.info-panel {
  margin-right: 1rem;
  padding: 1rem;

  .p-modal {
    position: fixed;
    z-index: z("lambda");
  }

  &__pictogram {
    // Keep height and width in sync with the dimensions of
    // the Topology component.
    background: $color-light;
    border: solid 1px $color-mid-x-light;
    margin-bottom: 1rem;
    position: relative;

    .p-icon--expand {
      bottom: 10px;
      cursor: pointer;
      position: absolute;
      right: 10px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-m-large) {
      grid-template-columns: 1fr 1fr;
    }
  }

  .p-muted-heading {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }
}
