@import "vanilla-framework/scss/settings_colors";

.info-panel {
  border-right: 2px solid $color-mid-light;
  margin-right: 1rem;
  padding: 1rem;

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .p-muted-heading {
    margin-bottom: 0.25rem;
  }
}
