@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";
@import "../../scss/breakpoints";

.info-panel {
  @include desktop {
    display: block;
  }

  &__pictogram {
    // Keep height and width in sync with the dimensions of
    // the Topology component.

    background: $color-light;
    border: solid 1px $color-mid-x-light;
    flex: 1;
    margin-bottom: 1rem;
    position: relative;

    .p-icon--fullscreen {
      bottom: 10px;
      cursor: pointer;
      display: none;
      position: absolute;
      right: 10px;

      @include desktop {
        display: inline-block;
      }
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr;

    // This needs to be kept in sync with the 1580px breakpoint in
    // InfoPanel.js:infoPanelDimensions.

    @include large {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.p-muted-heading {
  font-size: 0.75rem !important;
  margin-bottom: 0.25rem !important;
}

.p-modal .p-modal__dialog {
  width: 90%;
}
