@import "vanilla-framework/scss/settings_colors";

.l-container {
  display: grid;
  min-height: calc(100vh - 48px);
}

.l-container--sidebar {
  @extend .l-container;
  grid-template-columns: 150px 1fr;
}

.l-side {
  background: $color-light;
  padding: 0.5rem;
  padding-left: 0;
}
