@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";

.l-container {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
}

.l-main {
  background-color: $color-x-light;
  padding-left: $sidebar-full-width;
  position: relative;
  width: 100vw;

  .has-collapsible-sidebar & {
    padding-left: $sidebar-collapsed;
    width: 100vw;
  }
}

.has-collapsible-sidebar .is-collapsed + .l-main {
  margin-top: 3rem;
  width: 100vw;
}

.l-side {
  @include vf-animation(width, brisk, ease-in-out);

  background: $color-sidebar;
  height: 100vh;
  left: 0;
  overflow: hidden;
  padding: 0;
  position: fixed;
  top: 0;
  width: $sidebar-full-width;
  z-index: z("kappa");

  &.is-collapsed {
    width: $sidebar-collapsed;
  }

  .has-collapsible-sidebar & {
    left: 0;
    position: fixed;
  }
}

.l-content {
  margin: 0.5rem 1rem;
}
