$color-sidebar: #003b4e;

.l-container {
  display: grid;
  grid-template-columns: 250px 1fr;
  min-height: 100vh;
}

.l-main {
  position: relative;
}

.l-side {
  background: $color-sidebar;
  padding: 0;
}
