@import "vanilla-framework/scss/vanilla";

.status-strip {
  align-items: center;
  display: flex;
  margin-top: -0.4rem;
  padding: 0 0.25rem 0;

  &__statement {
    text-transform: capitalize;
  }

  .status-icon {
    margin-left: -0.5rem;
  }
}
