.entity-info {
  &__grid {
    display: grid;

    &-item {
      min-width: 0;
      overflow-wrap: anywhere;
      width: 100%;

      .p-muted-heading {
        font-size: 0.75rem;
        margin-bottom: 0.25rem;
      }
    }
  }
}
