.entity-info {
  &__grid {
    display: grid;

    @media (width >= 1580px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__grid-item {
    overflow-wrap: anywhere;

    .p-muted-heading {
      font-size: 0.75rem !important;
      margin-bottom: 0.25rem !important;
    }
  }
}
