@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";

.user-icon {
  cursor: pointer;
  display: grid;
  margin-left: -1rem;
  position: relative;

  .p-contextual-menu__dropdown {
    @include vf-animation(opacity, brisk, ease-in-out);

    min-width: 6rem;
    opacity: 0;
    position: absolute;
    right: 0.5rem;
    top: 2.5rem;

    &.is-visible {
      display: block;
      opacity: 1;
      z-index: z("gamma");
    }
  }

  .p-icon--user {
    margin: auto;
  }
}
