@import "vanilla-framework/scss/vanilla";

.p-strip.is-shallow.controllers-overview {
  padding-top: 0;
}

.controllers-overview {
  width: 100%;

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    @media (min-width: $breakpoint-x-small) {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}
