@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";

.p-filter-tags {
  padding: 0.5rem;
  position: relative;

  // Increased specificity needed here due to:
  // https://github.com/canonical-web-and-design/jaas-dashboard/issues/254
  .p-filter-tags__input {
    appearance: textfield;
    background-color: $color-x-light;
    border: 1px solid $color-mid-dark;
    border-radius: 0.125rem;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.12);
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1.5rem;
    margin: 0;
    min-width: 10em;
    padding: 0.25rem 0.5rem;
    vertical-align: baseline;
    width: 100%;

    .placeholder {
      color: $color-mid-dark;
    }
  }
}

.p-filter-panel {
  @include vf-animation(opacity, brisk, ease-in-out);

  display: none;
  margin-top: 0.5rem;
  opacity: 0;
  position: absolute;
  top: 2.75rem;
  width: calc(100% - 1rem);

  &.is-visible {
    display: block;
    opacity: 1;
    z-index: z("delta");
  }

  &__heading {
    border-bottom: 1px solid $color-mid-x-light;
    color: $color-mid-dark;
    font-size: 0.75rem;
    text-transform: uppercase;
  }

  &__list {
    margin-bottom: 0.5rem;
  }

  &__item {
    display: inline-block;
    font-size: 0.875rem;
    padding: 0;

    &.is-selected {
      background-color: $color-mid-x-light;
    }
  }

  &__button {
    border: 1px solid #999;
    border-radius: 5px;
    color: $color-mid-dark;
    font-size: 0.875rem;
    margin-bottom: 0.5rem;
    margin-right: 0.5rem;
    padding: 0 0.5rem;
  }
}
