@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";

.p-filter-tags {
  &__active-filter {
    background: $color-mid-x-light;
    border-radius: 0.25rem;
    display: inline-block;
    font-size: 0.875rem;
    margin: 0 0.25rem 0.5rem 0;
    padding: 0 0.15rem;
    position: relative;
    top: -1px;

    &:first-child {
      margin-left: 0.2rem;
    }

    .p-icon--close {
      cursor: pointer;
      margin: 0 0.25rem;
      top: 1px;
      width: 0.5rem;
    }
  }

  &__active-count {
    flex-grow: 1;
    font-size: 0.875rem;
    text-align: left;
  }
}

.p-contextual-menu {
  &__toggle {
    border-color: $color-mid-light;
    display: flex;
    width: 100%;

    .p-icon--contextual-menu {
      top: 0.25rem;

      &.is-active {
        transform: rotate(180deg);
      }
    }
  }

  &__group {
    padding: 0.5rem 1rem;
  }

  & &__dropdown {
    @include vf-animation(opacity, brisk, ease-in-out);

    display: block !important;
    margin-top: -0.75rem !important;
    opacity: 0;
    pointer-events: none;
    position: absolute;
    top: 2.75rem;
    width: 100%;

    &.is-visible {
      opacity: 1;
      pointer-events: all;
    }

    &__heading {
      border-bottom: 1px solid $color-mid-x-light;
      color: $color-mid-dark;
      font-size: 0.75rem;
      text-transform: uppercase;
    }

    &__list {
      margin-bottom: 0.5rem;
    }

    &__item {
      display: inline-block;
      font-size: 0.875rem;
      margin-right: 0.5rem;
      padding: 0;
    }

    &__button {
      border: 1px solid #999;
      border-radius: 5px;
      color: $color-mid-dark;
      font-size: 0.875rem;
      margin-bottom: 0.5rem;
      margin-right: 0.5rem;
      padding: 0 0.5rem;

      &.is-selected {
        background: $color-mid-x-light;
        cursor: default;
        opacity: 0.5;
      }
    }
  }
}
