.l-navigation__drawer > .p-panel {
  // Required so that the user menu can be absolutely positioned within the
  // side nav.
  position: relative;
}

.p-primary-nav {
  .entity-count {
    border-radius: 50%;
    display: inline-block;
    font-size: #{map-get($font-sizes, small)}rem;
    height: 1.5rem;
    text-align: center;
    width: 1.5rem;

    &.is-negative {
      background-color: $color-negative;
    }

    &.is-caution {
      background-color: $color-caution;
    }
  }
}
