@import "vanilla-framework/scss/settings_colors";

.p-primary-nav {
  .p-list__link {
    color: $color-dark;
  }

  .p-list__item {
    padding-left: 1rem;

    &.is-selected {
      border-left: 3px solid $color-information;
      font-weight: 400;
      padding-left: calc(1rem - 3px);
    }
  }
}
