@import "../../scss/settings";
@import "../../scss/functions/z-index";
@import "vanilla-framework/scss/vanilla";

.p-primary-nav {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  width: $sidebar-full-width;

  a,
  a:hover {
    color: $color-light;
    text-decoration: none;
  }

  &__logo {
    display: flex;
    margin-bottom: 0.5rem;
    margin-left: 2px;
    padding-top: 3px;

    &-text {
      padding-left: 0.6rem;
    }
  }

  &__header {
    background: $color-navigation-dark;
    display: grid;
    grid-template-columns: 1fr 40px;
    padding: 0.5rem 0.5rem 0;
    position: relative;
  }

  &__toggle {
    align-items: center;
    background: none;
    border: 0;
    display: grid;
    margin: 0;
    padding: 0;

    .p-icon--contextual-menu {
      margin: auto;
    }

    &:hover,
    &:active {
      background: none !important;
    }

    &:focus {
      outline: 1px dotted $color-navigation-highlight;
    }
  }

  .p-list__item {
    padding: 0;

    .p-list__link {
      border-left: 3px solid transparent;
      color: $color-light;
      display: flex;
      padding: 0.25rem 0;
      padding-left: calc(1rem - 3px);
      width: 100%;

      &:hover {
        background-color: $color-navigation-highlight;
      }

      &.is-selected {
        background-color: $color-navigation-highlight;
        border-left-color: $color-navigation-accent;
      }
    }

    .p-list__icon {
      height: 16px;
      padding-right: 1.25rem;
      position: relative;
      top: 0.275rem;
    }
  }

  .p-primary-nav__bottom {
    border-top: 1px solid #666;
    margin-top: 0;
    padding-top: 1rem;

    .p-list {
      &__item {
        color: #fff;
        display: flex;

        .p-label--new {
          margin-left: auto;
          margin-right: 1rem;
          margin-top: 0.5rem;
        }

        .version {
          color: $color-light;
          font-size: 0.875rem;
          padding-left: 3.25rem;
          padding-top: 0.5rem;
        }
      }
    }
  }

  .p-list.is-external {
    @include vf-animation(max-height, brisk, ease-in-out);

    background: $color-navigation-dark;
    margin-bottom: 0;
    max-height: 0;
    overflow: hidden;

    .p-list__link {
      padding-left: calc(3.25rem);
    }
  }

  .p-primary-nav__toggle {
    position: relative;
    top: -3px;
  }

  .l-side:not(.is-collapsed) &.ext-nav-open {
    .is-external {
      max-height: 200px;
      padding-bottom: 0.5rem;
    }

    .p-primary-nav__toggle {
      position: relative;
      top: -3px;
      transform: rotate(180deg);
    }
  }

  .entity-count {
    background-color: $color-negative;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.875rem;
    height: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0 0.25rem;
    text-align: center;
    width: 1.5rem;
  }
}
