@import "vanilla-framework/scss/vanilla";
@import "../../scss/settings";

.p-primary-nav {
  position: sticky;
  top: 0;
  width: $sidebar-full-width;

  a,
  a:hover {
    color: $color-light;
    text-decoration: none;
  }

  &__logo {
    max-width: 110px;
    padding: 0.5rem 0.5rem 0;
    width: 100%;
  }

  &__header {
    background: $color-navigation-dark;
    display: grid;
    grid-template-columns: 1fr 40px;
    padding: 0.5rem 0.5rem 0;
  }

  &__toggle {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    transition: transform 0.25s ease-in-out;

    &:hover {
      background: none;
    }
  }

  .is-external {
    background: $color-navigation-dark;
    margin-bottom: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;

    .p-list__link {
      padding-left: calc(3.5rem - 3px);
    }
  }

  .p-list__item {
    padding: 0;

    .p-list__link {
      border-left: 3px solid transparent;
      color: $color-light;
      display: flex;
      padding: 0.25rem 0;
      padding-left: calc(1.25rem - 3px);

      &:hover {
        background-color: $color-navigation-highlight;
      }

      &.is-selected {
        background-color: $color-navigation-highlight;
        border-left-color: $color-navigation-accent;
      }
    }

    .p-list__icon {
      height: 16px;
      padding-right: 1.25rem;
      position: relative;
      top: 0.2rem;
    }
  }

  &.ext-nav-open {
    .is-external {
      max-height: 200px;
      padding-bottom: 0.5rem;
    }

    .p-primary-nav__toggle {
      transform: rotate(180deg);
    }
  }

  .entity-count {
    background-color: $color-negative;
    border-radius: 50%;
    display: inline-block;
    font-size: 0.875rem;
    height: 1.5rem;
    margin-left: auto;
    margin-right: 1rem;
    padding: 0 0.25rem;
    text-align: center;
    width: 1.5rem;
  }
}
