@import "vanilla-framework/scss/settings_colors";

.p-primary-nav {
  a,
  a:hover {
    color: $color-light;
  }

  &__header {
    display: grid;
    grid-template-columns: 1fr 40px;
    margin-bottom: -1rem;
    padding: 0.5rem;
  }

  &__toggle {
    background: none;
    border: 0;
    transition: transform 0.25s ease-in-out;

    &:hover {
      background: none;
    }
  }

  .p-list__link {
    color: $color-light;
  }

  .p-list__item {
    border-left: 3px solid transparent;

    &.is-selected {
      background-color: #044f66;
      border-left-color: #3fc8f2;
      margin-right: -0.5rem;
    }

    .p-list__link {
      display: block;
      padding-left: calc(2.5rem - 3px);
    }
  }

  .is-external {
    margin-bottom: 0.25rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
  }

  &.ext-nav-open {
    .is-external {
      max-height: 200px;
    }

    .p-primary-nav__toggle {
      transform: rotate(180deg);
    }
  }
}
