@import "vanilla-framework/scss/settings_colors";

$color-navigation-dark: #002835;
$color-navigation-highlight: #004e68;
$color-navigation-accent: #3fc8f2;

.p-primary-nav {
  position: sticky;
  top: 0;
  width: 250px;

  a,
  a:hover {
    color: $color-light;
    text-decoration: none;
  }

  &__logo {
    max-width: 110px;
    padding: 0.5rem 0.5rem 0;
    width: 100%;
  }

  &__header {
    background: $color-navigation-dark;
    display: grid;
    grid-template-columns: 1fr 40px;
    padding: 0.5rem 0.5rem 0;
  }

  &__toggle {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    transition: transform 0.25s ease-in-out;

    &:hover {
      background: none;
    }
  }

  .p-list__link {
    color: $color-light;
  }

  .is-external {
    background: $color-navigation-dark;
    margin-bottom: 0.5rem;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;

    .p-list__link {
      padding-left: calc(3.5rem - 3px);
    }
  }

  .p-list__item {
    padding: 0;

    .p-list__link {
      border-left: 3px solid transparent;
      display: block;
      padding: 0.25rem 0;
      padding-left: calc(1.25rem - 3px);

      &:hover {
        background-color: $color-navigation-highlight;
      }

      &.is-selected {
        background-color: $color-navigation-highlight;
        border-left-color: $color-navigation-accent;
      }
    }

    .p-list__icon {
      padding-right: 1.25rem;
      position: relative;
      top: 0.2rem;
    }
  }

  &.ext-nav-open {
    .is-external {
      max-height: 200px;
      padding-bottom: 0.5rem;
    }

    .p-primary-nav__toggle {
      transform: rotate(180deg);
    }
  }
}
