@import "vanilla-framework/scss/vanilla";

.settings {
  label {
    border-bottom: 1px solid $color-mid-light;
    padding-bottom: 0.5rem;
    width: 100%;
  }

  &__toggles-info {
    color: $color-mid-dark;
    font-size: #{map-get($font-sizes, small)}rem;
  }

  &__toggles {
    margin-top: 1rem;
    max-width: 300px;
  }
}
