@import "vanilla-framework/scss/vanilla";

$top-header-height: 40px;

.slide-panel {
  background-color: $color-x-light;
  box-shadow: $box-shadow;
  height: calc(100% - #{$top-header-height});
  position: absolute;
  right: 0;
  top: $top-header-height;

  .p-modal__close {
    margin: 1rem;
  }

  &__content {
    padding: 1rem;
  }
}
