@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";
@import "../../scss/breakpoints";

.slide-panel {
  @include vf-animation(transform, brisk, out);

  $top-header-height: 64px;

  background-color: $color-x-light;
  height: calc(100% - #{$top-header-height});
  max-width: 100vw;
  position: fixed;
  right: 0;
  top: $top-header-height;
  transform: translateX(100%);
  width: 100%;
  z-index: z("beta");

  @include desktop {
    box-shadow: $box-shadow;
    width: 60vw;
  }

  &[aria-hidden="false"] {
    transform: translateX(0);
  }

  [data-loading="true"] {
    align-items: center;
    display: flex;
    height: 100%;
  }

  .p-modal__close {
    margin: 1.5rem 1rem 1rem;

    @include mobile {
      margin-top: 4rem;
    }
  }

  &__content {
    padding: 1.5rem 1rem 1rem;

    @include mobile {
      padding-top: 4rem;
    }
  }

  &__tables {
    overflow-x: scroll;
    scrollbar-width: none;

    table {
      margin-bottom: 1rem;
    }
  }

  ::-webkit-scrollbar {
    display: none;
  }
}
