@import "vanilla-framework/scss/vanilla";

.slide-panel {
  @include vf-animation(transform, brisk, out);
  $top-header-height: 40px;

  background-color: $color-x-light;
  box-shadow: $box-shadow;
  height: calc(100% - #{$top-header-height});
  margin-left: 48px;
  max-width: calc(100vw - 40px);
  overflow: scroll;
  position: fixed;
  right: 0;
  top: $top-header-height;
  transform: translateX(100%);

  @media (min-width: $breakpoint-medium) {
    width: 60vw;
  }

  &[aria-hidden="false"] {
    transform: translateX(0);
  }

  [data-loading="true"] {
    align-items: center;
    display: flex;
    height: 100%;
  }

  .p-modal__close {
    margin: 1rem;
  }

  &__content {
    padding: 1rem;
  }

  &__tables {
    overflow-x: scroll;

    table {
      margin-bottom: 1rem;
    }
  }
}
