.slide-panel {
  background-color: white;
  box-shadow: 0 1px 5px 1px rgba(51, 51, 51, 0.2);
  height: calc(100% - 25px);
  position: absolute;
  right: 0;
  top: 24px; // height of the top bar

  &--close {
    cursor: pointer;
    margin-right: 1rem;
    margin-top: 1rem;
    text-align: right;
  }
}
