@import "vanilla-framework/scss/vanilla";

.slide-panel {
  $top-header-height: 40px;

  background-color: $color-x-light;
  box-shadow: $box-shadow;
  height: calc(100% - #{$top-header-height});
  margin-left: 48px;
  overflow: scroll;
  position: fixed;
  right: 0;
  top: $top-header-height;

  .p-modal__close {
    margin: 1rem;
  }

  &__content {
    padding: 1rem;
  }
}
