@import "vanilla-framework/scss/settings_colors";

.p-filter {
  font-size: 0.875rem;

  &__label {
    color: $color-dark;
    margin-right: 1rem;
  }

  &__label,
  &__item {
    margin-right: 0.25rem;
  }

  & + & {
    padding-left: 1rem;
  }
}
