@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";
@import "../../scss/breakpoints";

@mixin collapsed {
  &[data-collapsed="true"][data-sidenav-initially-collapsed="true"]:not(
      :hover,
      :focus-within,
      .is-pinned
    ) {
    @content;
  }
}

.skip-main {
  height: 1px;
  left: -9999px;
  overflow: hidden;
  position: absolute;
  top: auto;
  width: 1px;

  &:focus,
  &:active {
    background-color: $color-navigation-dark;
    border: 4px solid $color-caution;
    border-radius: 5px;
    color: $color-x-light;
    font-size: 1rem;
    height: auto;
    left: 50%;
    margin: 1rem;
    margin-left: -15%;
    outline: none;
    overflow: auto;
    padding: 1rem;
    text-align: center;
    top: auto;
    width: 30%;
    z-index: z("infinity");
  }
}

.l-main {
  background-color: $color-x-light;

  @include large {
    padding-left: 3rem;
  }

  > .p-notification--information {
    bottom: 1rem;
    margin: 0 1rem;
    position: absolute;
  }
}

.l-navigation {
  @include vf-animation(transform, brisk, ease-in-out);

  background: $color-sidebar;
  max-height: 100vh;
  max-width: 15rem;
  transform: translateX(0);

  &-bar {
    background: $color-sidebar;
    display: flex;
    height: 3rem;
    padding: 0.5rem;
    z-index: z("zelda");

    @include large {
      display: none;
    }

    .logo {
      position: relative;
      top: 3px;
    }

    .toggle-menu {
      margin-left: auto;
      max-width: 150px;
    }
  }

  @include mobile {
    &[data-collapsed="true"] {
      transform: translateX(-100%);
    }
  }

  .hide-collapsed {
    @include vf-animation(opacity, brisk, ease-in-out);
  }
  // When the navbar is collapsed on desktop or mobile view and menu is closed, hide the text
  @include collapsed {
    .hide-collapsed {
      opacity: 0;
    }
  }
  // Close user menu when side nav collapses so it remains active but appears
  // visually inactive until the user hovers the side nav again
  &[data-sidenav-initially-collapsed="true"],
  .p-primary-nav:hover {
    .user-menu.is-active {
      max-height: $user-menu-height--inactive;
    }

    &:hover {
      .user-menu.is-active {
        max-height: $user-menu-height--active;
      }
    }
  }
}

.l-content {
  margin: 0.5rem 1rem;
}

.l-application {
  overflow-x: hidden;

  .l-navigation.is-pinned + .l-main {
    padding-left: 0;
  }
}
