map $http_upgrade $connection_upgrade {
    default upgrade;
    '' close;
}

server {
    listen {{port}} default_server;
    listen [::]:{{port}} default_server;

    root {{dashboard_root}};
    index index.html;

    server_name _;

    location {{base_app_url}}/ {
        try_files /index.html =404;
    }

    location {{base_app_url}}/config.js {
        try_files /config.js =404;
    }

    location ~ ^{{base_app_url|replace("/", "\/")}}(\/assets\/.+$) {
        try_files $1 =404;
    }

{% if is_juju %}
    location ~ ^{{base_app_url|replace("/", "\/")}}((\/.+)?\/api$) {
        rewrite ^{{base_app_url|replace("/", "\/")}}((\/.+)?\/api$) $1 break;
        proxy_pass {{controller_ws_api}};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
    }

    location ~ ^{{base_app_url|replace("/", "\/")}}((\/.+)?\/commands$) {
        rewrite ^{{base_app_url|replace("/", "\/")}}((\/.+)?\/commands$) $1 break;
        proxy_pass {{controller_ws_api}};
        proxy_http_version 1.1;
        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection $connection_upgrade;
        proxy_set_header Host $host;
    }
{% endif %}
}
