@import "vanilla-framework/scss/settings_colors";

.model-details {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: calc(100vh - 48px); // header is 48px high.
  padding-bottom: 2rem;

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3rem;
    padding-left: 1rem;
  }

  &__main {
    padding-top: 1rem;
  }

  &__filters {
    display: flex;
    margin-left: auto;
  }

  .p-table--sortable {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    tbody tr {
      border-bottom: 1px solid $color-mid-x-light;

      &:hover {
        background-color: #cef3ff;
      }
    }
  }
}
