@import "vanilla-framework/scss/settings_colors";

.model-details {
  display: grid;
  grid-template-columns: 350px 1fr;
  min-height: calc(100vh - 48px); // header is 48px high.
  padding-bottom: 2rem;

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3rem;
    padding-left: 1rem;
  }

  &__main {
    padding-top: 1rem;
  }

  &__filters {
    display: flex;
    margin-left: auto;
  }

  &__user {
    text-align: center;
  }

  &__status {
    display: inline-block;
    padding-left: 1.5rem;
    position: relative;

    &::before {
      content: "\00B7";
      font-size: 6rem;
      left: 0;
      position: absolute;
      top: -6px;
    }

    &.is-error::before {
      color: $color-negative;
    }

    &.is-active::before {
      color: $color-mid-light;
    }

    &.is-maintenance::before {
      color: $color-caution;
    }
  }

  .p-table--sortable {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    td,
    th {
      &:first-child {
        padding-left: 0.5rem;
      }
    }

    tbody tr {
      border-bottom: 1px solid $color-mid-x-light;
      transition: background 0.25s ease-in-out;

      &:hover {
        background-color: #cef3ff;
      }
    }
  }
}
