@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

.model-details {
  display: grid;
  grid-template-columns: 230px 1fr;
  padding-bottom: 14rem;

  @media (min-width: $breakpoint-m-large) {
    grid-template-columns: 350px 1fr;
  }

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3rem;
    padding-left: 1rem;
  }

  &__main {
    padding-top: 1rem;
  }

  &__filters {
    display: flex;
    margin-left: auto;
  }

  &__user {
    text-align: center;
  }

  tr {
    display: grid;
  }

  .model-details__apps tr {
    grid-template-columns: 20% 13% 6% 11% 17.5% 5% 10% 20%;
  }

  .model-details__units tr {
    grid-template-columns: 20% 13% 9% 9% 14% 5% 30%;
  }

  .model-details__machines tr {
    grid-template-columns: 20% 15% 11% 26.5% 27.5%;
  }

  .model-details__relations {
    tr {
      grid-template-columns: 30% 30% 15% 9% 16%;
    }
  }

  &__truncate-cell {
    white-space: nowrap;
  }

  .p-table--sortable {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    td,
    th {
      &:first-child {
        padding-left: 0.5rem;
      }
    }

    tbody tr {
      @include vf-animation(background, brisk, ease-in-out);

      &:hover {
        background-color: #cef3ff;
      }
    }
  }

  &__config {
    padding-right: 0.75rem;
    text-align: left;

    .p-tooltip--top-center {
      display: inline-block;
      margin-right: 1rem;
    }

    &-item {
      display: flex;
      min-width: 2.3rem;
    }

    &-icon {
      height: 1rem;
      margin: 0.25rem 0.25rem 0 0;
      width: 1rem;
    }
  }

  .entity-icon {
    border-radius: 50%;
    margin-right: 0.5rem;
    position: relative;
  }
}

.subordinate-row {
  border-top: none !important;
}

.subordinate {
  display: inline-block;
  padding-left: 1.25rem;
  position: relative;
  width: 1.75rem;

  &::before {
    content: url("../../../static/images/unit-tree.svg");
    left: 0.75rem;
    position: absolute;
  }
}
