@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

@mixin model-details-layout {
  .model-details {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    padding-bottom: 3rem;

    @media (min-width: $breakpoint-medium) {
      gap: 1rem;
      grid-template-columns: 230px 1fr;
    }

    @media (min-width: $breakpoint-m-large) {
      grid-template-columns: 350px 1fr;
    }
  }
}

@mixin model-details-header {
  .model-details__header {
    align-items: center;

    @media (min-width: $breakpoint-medium) {
      display: flex;
    }
  }

  .model-details__filters {
    display: flex;
    margin-left: auto;
  }
}

@mixin model-details-title {
  .model-details__title {
    @media (max-width: $breakpoint-medium) {
      margin-bottom: 0.75rem;
    }
  }
}

@mixin model-details-misc {
  .model-details {
    &__config {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: 1fr;
      margin-right: 0.5rem;
      text-align: left;

      @media (min-width: $breakpoint-medium) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (min-width: $breakpoint-large) {
        grid-template-columns: repeat(3, 1fr);
      }

      .p-tooltip--top-center {
        display: inline-block;
      }

      &-item {
        display: flex;
        min-width: 2.3rem;
      }

      &-icon {
        height: 1rem;
        margin: 0.25rem 0.25rem 0 0;
        width: 1rem;
      }
    }

    .entity-icon {
      border-radius: 50%;
      height: 1.5rem;
      margin-right: 0.5rem;
      position: relative;
      width: 1.5rem;
    }
  }

  .subordinate-row {
    border-top: none !important;
  }

  .subordinate {
    display: inline-block;
    padding-left: 1.25rem;
    position: relative;
    width: 1.75rem;

    &::before {
      content: url("../../../static/images/unit-tree.svg");
      left: 0.75rem;
      position: absolute;
    }
  }
}

@mixin model-details-tables {
  .p-main-table {
    th,
    td {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    tr {
      @include vf-animation(background, brisk, ease-in-out);

      &.is-selected,
      &.is-selected:hover {
        background-color: #cef3ff;
      }
    }

    caption {
      margin-top: 0.5rem;
    }
  }

  .model-details__apps {
    tbody tr:hover {
      background-color: #e7f9ff;
      cursor: pointer;
    }

    th,
    td {
      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(2) {
        width: 10%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 10%;
      }

      &:nth-child(8) {
        width: 25%;
      }
    }
  }

  .model-details__units {
    th,
    td {
      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(2) {
        width: 19%;
      }

      &:nth-child(3) {
        width: 6%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 35%;
      }
    }
  }

  .model-details__machines {
    th,
    td {
      &:nth-child(1) {
        width: 25%;
      }

      &:nth-child(2) {
        width: 19%;
      }

      &:nth-child(3) {
        width: 16%;
      }

      &:nth-child(4) {
        width: 25%;
      }

      &:nth-child(5) {
        width: 35%;
      }
    }
  }
}

@include model-details-layout;
@include model-details-header;
@include model-details-title;
@include model-details-tables;
@include model-details-misc;
