@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

.model-details {
  display: grid;
  grid-template-columns: 1fr;
  margin-bottom: 2rem;
  padding-bottom: 14rem;

  @media (min-width: $breakpoint-medium) {
    gap: 1rem;
    grid-template-columns: 230px 1fr;
  }

  &:last-child {
    margin-bottom: 1rem;
  }

  &__header {
    align-items: center;
    padding: 0.75rem;

    @media (min-width: $breakpoint-medium) {
      display: flex;
    }

    .p-filter__label {
      display: none;
    }

    .p-filter {
      display: grid;
      gap: 0.5rem;
      grid-template-columns: repeat(2, 1fr);
      width: 100%;

      .p-button--filter {
        width: 100%;
      }

      @media (min-width: $breakpoint-medium) {
        display: flex;
      }
    }
  }

  &__title {
    font-weight: 400;

    @media (max-width: $breakpoint-medium) {
      margin-bottom: 0.75rem;
    }
  }

  tbody tr {
    @include vf-animation(background, brisk, ease-in-out);

    &.is-selected,
    &.is-selected:hover {
      background-color: #cef3ff;
    }
  }

  tbody tr:hover {
    background-color: #e7f9ff;
  }

  .model-details__apps tbody tr:hover {
    cursor: pointer;
  }

  @media (min-width: $breakpoint-m-large) {
    grid-template-columns: 350px 1fr;
  }

  &__main {
    padding-top: 1rem;
  }

  &__filters {
    display: flex;
    margin-left: auto;
  }

  &__user {
    text-align: center;
  }

  &__truncate-cell {
    white-space: nowrap;
  }

  &__config {
    display: grid;
    gap: 0.5rem;
    grid-template-columns: 1fr;
    margin-right: 0.5rem;
    text-align: left;

    @media (min-width: $breakpoint-medium) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (min-width: $breakpoint-large) {
      grid-template-columns: repeat(3, 1fr);
    }

    .p-tooltip--top-center {
      display: inline-block;
    }

    &-item {
      display: flex;
      min-width: 2.3rem;
    }

    &-icon {
      height: 1rem;
      margin: 0.25rem 0.25rem 0 0;
      width: 1rem;
    }
  }

  .entity-icon {
    border-radius: 50%;
    height: 1.5rem;
    margin-right: 0.5rem;
    position: relative;
    width: 1.5rem;
  }
}

.subordinate-row {
  border-top: none !important;
}

.subordinate {
  display: inline-block;
  padding-left: 1.25rem;
  position: relative;
  width: 1.75rem;

  &::before {
    content: url("../../../static/images/unit-tree.svg");
    left: 0.75rem;
    position: absolute;
  }
}
