@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

@mixin model-details-layout {
  .model-details {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    padding-bottom: 3rem;

    @media (min-width: $breakpoint-medium) {
      gap: 1rem;
      grid-template-columns: 230px 1fr;
    }

    @media (min-width: $breakpoint-m-large) {
      grid-template-columns: 350px 1fr;
    }

    &[aria-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
    }
  }
}

@mixin model-details-header {
  .model-details__header {
    align-items: center;

    @media (min-width: $breakpoint-medium) {
      display: flex;
    }
  }

  .model-details__filters {
    display: flex;
    margin-left: auto;
  }
}

@mixin model-details-title {
  .model-details__title {
    @media (max-width: $breakpoint-medium) {
      margin-bottom: 0.75rem;
    }
  }
}

@mixin model-details-main {
  .model-details__main {
    .entity-icon {
      border-radius: 50%;
      height: 1.5rem;
      margin-right: 0.5rem;
      position: relative;
      vertical-align: top;
      width: 1.5rem;
    }

    .subordinate-row {
      border-top: none !important;
    }

    .subordinate {
      margin-right: 0.5rem;
      padding-left: 1.5rem;
      position: relative;

      &::before {
        content: url("../../../static/images/unit-tree.svg");
        left: 0.75rem;
        position: absolute;
        top: -0.25rem;
      }
    }
  }
}

@mixin model-details-tables {
  /* stylelint-disable no-descending-specificity */
  .p-main-table {
    th,
    td {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    tr {
      @include vf-animation(background, brisk, ease-in-out);

      &.is-selected,
      &.is-selected:hover {
        background-color: #cef3ff;
      }
    }

    caption {
      margin-top: 0.5rem;
    }
  }

  .model-details__apps {
    tbody tr:hover {
      background-color: #e7f9ff;
      cursor: pointer;
    }

    th,
    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 10%;
      }

      &:nth-child(8) {
        width: 25%;
      }
    }
  }

  .model-details__units {
    th,
    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 35%;
      }
    }
  }

  .model-details__machines,
  .model-details__relations {
    th,
    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 19%;
      }

      &:nth-child(3) {
        width: 16%;
      }

      &:nth-child(4) {
        width: 25%;
      }

      &:nth-child(5) {
        width: 35%;
      }
    }
  }
  /* stylelint-enable no-descending-specificity */
}

@mixin model-details-slidepanel-apps {
  .slidepanel-apps {
    &-header {
      margin: 2rem 0;

      .row {
        padding: 0;
      }
    }

    &__label {
      color: #333;
      display: inline-block;
      text-align: right;
    }

    &__kv {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include model-details-layout;
@include model-details-header;
@include model-details-title;
@include model-details-main;
@include model-details-tables;
@include model-details-slidepanel-apps;
