@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

.model-details {
  display: grid;
  grid-template-columns: 230px 1fr;
  padding-bottom: 14rem;

  @media (min-width: $breakpoint-m-large) {
    grid-template-columns: 350px 1fr;
  }

  &__header {
    align-items: center;
    display: grid;
    grid-template-columns: 0.5fr 3fr 3rem;
    padding-left: 1rem;
  }

  &__main {
    padding-top: 1rem;
  }

  &__filters {
    display: flex;
    margin-left: auto;
  }

  &__user {
    text-align: center;
  }

  tr {
    display: grid;
  }

  .model-details__apps tr {
    grid-template-columns: 15% 15% 9% 11% 17.5% 5% 10% 20%;
  }

  .model-details__units tr {
    grid-template-columns: 15% 15% 9% 11% 17.5% 5% 30%;
  }

  .model-details__machines tr,
  .model-details__relations tr {
    grid-template-columns: 30% 9% 11% 22.5% 27.5%;
  }

  &__truncate-cell {
    white-space: nowrap;
  }

  .p-table--sortable {
    margin-bottom: 2rem;

    &:last-child {
      margin-bottom: 1rem;
    }

    td,
    th {
      &:first-child {
        padding-left: 0.5rem;
      }
    }

    tbody tr {
      @include vf-animation(background, brisk, ease-in-out);

      &:hover {
        background-color: #cef3ff;
      }
    }
  }

  &__config {
    display: grid;
    gap: 0.25rem;
    grid-template-columns: repeat(3, 1fr);
    padding-right: 0.75rem;
    text-align: left;
  }

  &__app-icon,
  &__machine-icon,
  &__unit-icon {
    padding-left: 1rem;
    position: relative;

    &::before {
      background-repeat: no-repeat;
      background-size: cover;
      content: " ";
      height: 0.75rem;
      left: 0;
      position: absolute;
      top: 0.35rem;
      width: 0.75rem;
    }
  }

  &__app-icon::before {
    background-image: url("../../../static/images/icons/models-icon.svg");
  }

  &__machine-icon::before {
    background-image: url("../../../static/images/icons/machines-icon.svg");
  }

  &__unit-icon::before {
    background-image: url("../../../static/images/icons/controllers-icon.svg");
  }

  .entity-icon {
    border-radius: 50%;
    margin-right: 0.5rem;
    position: relative;
    top: 0.25rem;
  }
}
