@import "vanilla-framework/scss/vanilla";

.audit-logs__table .audit-logs__filter {
  display: flex;
  justify-content: space-between;

  .audit-logs__pagination {
    display: flex;
    gap: 0 1rem;
  }
}
