.add-model {
  display: flex;
  flex-direction: column;
  height: 100dvh;

  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    min-height: 0;
    overflow-y: auto;
    padding: 0 $sph--large;
  }

  &__step {
    flex: 1 0 auto;
  }

  &__footer {
    background-color: white;
    border-top: 1px solid $color-mid-x-light;
    bottom: 0;
    padding: $spv--large $sph--small 0;
    position: sticky;
    text-align: right;
    // To ensure the footer appears above StackList items.
    z-index: z("gamma");

    .navigation-buttons {
      border-left: 1px solid $color-mid-light;
      border-right: 1px solid $color-mid-light;
      margin-right: $sph--large;
      padding: $spv--small $sph--large;
    }

    @include mobile {
      padding-left: 0;
      padding-right: 0;
    }
  }

  .mandatory-details {
    max-width: 40%;

    @include mobile {
      max-width: 100%;
    }
  }
}
