@import "vanilla-framework/scss/vanilla";

.header {
  background-color: $color-x-light;
  box-shadow: 0 1px 5px 1px rgba(51, 51, 51, 0.2);
  display: grid;
  min-height: 3rem;
  width: 100%;
  z-index: 1;
}
