@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";
@import "../../scss/functions/z-index";

.header {
  align-items: center;
  background-color: $color-x-light;
  border-bottom: 1px solid $color-mid-light;
  display: grid;
  min-height: 4rem;
  padding: 0 1.5rem;
  position: sticky;
  top: 0;
  z-index: z("gamma");
}
