@import "vanilla-framework/scss/vanilla";
@import "../../scss/breakpoints";

.models {
  &__header {
    align-items: center;
    display: grid;
    gap: $sp-unit;
    grid-template-columns: 1fr;
    opacity: 1;
    padding: 0.5rem 0.15rem;
    transition: opacity 0.25s;

    &-controls {
      white-space: nowrap;

      .p-segmented-control {
        display: inline-block;
      }
    }

    &[data-disabled="true"] {
      opacity: 0.5;
      pointer-events: none;
    }

    .models__count {
      display: none;

      @media (min-width: $breakpoint-large) {
        display: block;
      }
    }

    @include desktop {
      grid-template-columns: 1fr 1fr;
    }

    @media (min-width: $breakpoint-large) {
      // Account for the 1.5rem padding applied to the header.
      grid-template-columns: calc(120px - 1.5rem) 1fr calc(280px - 1.5rem);
    }

    .search-and-filter {
      @include desktop {
        max-width: 270px;
        position: absolute;
        right: 0.75rem;
        top: 0.7rem;
        width: 100%;
      }

      .p-chip {
        // Override required until upstream fix
        // https://github.com/canonical-web-and-design/vanilla-framework/issues/3416
        &[aria-pressed="true"] {
          background-color: rgba($color-x-dark, 0.15);
        }
      }
    }
  }

  // Tooltips override
  .p-tooltip--top-center .p-tooltip__message {
    left: calc(50% - 0.875rem);
    margin-bottom: -0.5rem;
  }
}
