.p-modal .application {
  &:hover {
    cursor: move;
    z-index: 99999;
  }

  image {
    pointer-events: none;
  }
}

svg {
  outline: 1px solid blue;

  > g {
    outline: 2px solid palevioletred;
  }
}
