@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

@mixin model-details-layout {
  .model-details {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2rem;
    padding-bottom: 3rem;
    padding-top: 1rem;

    &__loading {
      align-items: center;
      display: flex;
      justify-content: center;
      min-height: calc(100vh - 48px);
      width: 100%;
    }

    .status-strip {
      margin-bottom: 1rem;
    }

    @media (min-width: $breakpoint-medium) {
      gap: 1rem;
      grid-template-columns: 230px 1fr;
    }

    @media (min-width: $breakpoint-m-large) {
      grid-template-columns: 350px 1fr;
    }

    @media (max-width: $breakpoint-medium - 1) {
      & + .slide-panel {
        .p-modal__close {
          margin-top: 7rem !important;
        }
      }
    }
  }
}

@mixin model-details-header {
  .model-details__header {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr;

    @media (min-width: $breakpoint-medium) {
      gap: 1rem;
      grid-template-columns: 240px 1fr;
      padding: 0 0.5rem;
    }

    @media (min-width: $breakpoint-m-large) {
      grid-template-columns: 360px 1fr;
    }
  }

  .model-details__filters {
    display: flex;
    margin-left: auto;
  }
}

@mixin model-details-title {
  .model-details__title {
    @media (max-width: $breakpoint-medium) {
      margin-bottom: 0.75rem;
    }
  }
}

@mixin model-details-subordinates {
  .subordinate-row {
    border-top: none !important;
  }

  .subordinate {
    margin-right: 0.5rem;
    padding-left: 1.5rem;
    position: relative;

    &::before {
      content: url("../../static/images/unit-tree.svg");
      left: 0.75rem;
      position: absolute;
      top: -0.25rem;
    }
  }
}

@mixin model-details-tables {
  /* stylelint-disable no-descending-specificity */
  .p-main-table {
    th,
    td {
      padding-left: 1rem;
      padding-right: 1rem;
    }

    tr {
      @include vf-animation(background, brisk, ease-in-out);

      &.is-selected,
      &.is-selected:hover {
        background-color: #cef3ff;
      }
    }

    caption {
      margin-top: 0.5rem;
    }
  }

  .model-details__apps {
    th,
    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 10%;
      }

      &:nth-child(8) {
        width: 25%;
      }
    }
  }

  .model-details__units {
    th,
    td {
      &:nth-child(1) {
        width: 20%;
      }

      &:nth-child(2) {
        width: 15%;
      }

      &:nth-child(3) {
        width: 15%;
      }

      &:nth-child(4) {
        width: 10%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 10%;
      }

      &:nth-child(7) {
        width: 35%;
      }
    }
  }

  .model-details__machines,
  .model-details__relations {
    th,
    td {
      &:nth-child(1) {
        width: 15%;
      }

      &:nth-child(2) {
        width: 25%;
      }

      &:nth-child(3) {
        width: 10%;
      }

      &:nth-child(4) {
        width: 15%;
      }

      &:nth-child(5) {
        width: 15%;
      }

      &:nth-child(6) {
        width: 20%;
      }
    }
  }

  // .model-details__offers, // DISABLED PANEL
  // .model-details__remote-apps, // DISABLED PANEL
  .model-details__apps,
  .model-details__units,
  .model-details__machines {
    tbody tr:hover {
      background-color: #e7f9ff;
      cursor: pointer;
    }
  }
  /* stylelint-enable no-descending-specificity */
}

@mixin model-details-entity-icons {
  .entity-icon {
    border-radius: 50%;
    height: 1.5rem;
    margin-right: 0.5rem;
    position: relative;
    vertical-align: top;
    width: 1.5rem;
  }
}

@include model-details-layout;
@include model-details-header;
@include model-details-title;
@include model-details-subordinates;
@include model-details-tables;
@include model-details-entity-icons;
