.status-icon {
  display: inline-block;
  padding-left: 1.5rem;
  position: relative;
  text-transform: capitalize;

  &::before {
    content: "\00B7";
    font-size: 5rem;
    left: 0;
    position: absolute;
    top: -6px;
  }

  &.is-error,
  &.is-blocked {
    &::before {
      color: $color-negative;
    }
  }

  &.is-maintenance,
  &.is-attention,
  &.is-alert,
  &.is-waiting {
    &::before {
      color: $color-caution;
    }
  }

  &.is-running,
  &.is-active {
    &::before {
      color: $color-mid-light;
    }
  }

  &.is-unknown {
    &::before {
      border: 1px solid $color-mid-light;
      border-radius: 50%;
      content: "";
      height: 0.6rem;
      left: 0.35rem;
      top: 0.5rem;
      width: 0.6rem;
    }
  }
}
