// Site-wide Vanilla table overrides
table {
  min-width: 900px;
}

th,
td {
  min-width: 150px;
}

td.has-hover {
  .has-hover__hover-state {
    display: none;
  }

  &:hover .has-hover__hover-state {
    display: block;
  }
}

td {
  [class^="p-button"].is-small {
    margin: -$input-border-thickness 0 0;
  }
}

%row-hover {
  @include desktop {
    tbody tr:hover {
      box-shadow: $box-shadow;
    }
  }
}
