@import "vanilla-framework/scss/vanilla";

.chip-group {
  align-items: center;
  display: flex;
  flex-direction: row;
  margin: 1.25rem 0;

  .chip-group__descriptor {
    padding: 0 0.5rem;
  }

  .p-chip {
    border: none;
    margin: 0 0.5rem 0 0;
    padding: 0.25rem 1rem;
  }

  .status-icon {
    margin-left: -0.5rem;
  }
}
