@import "vanilla-framework/scss/vanilla";

.config-panel {
  .row {
    padding: 0;
  }

  &__list-header {
    margin: 2rem 0 1rem;
    padding-left: 0.5rem;
  }

  &__description {
    margin-top: 2rem;
    pre {
      white-space: pre-wrap;
      word-break: keep-all;
      // reset the vanilla pre styling
      background-color: inherit;
      border: none;
      padding: 0;
    }
  }

  &__no-description {
    height: calc(100vh - 50px); /* height of the header & spacing in panel */
    text-align: center;
    padding: 0 5rem;
  }

  &__drawer {
    @include vf-animation(max-height, slow, in);
    background-color: white;
    border-top: 1px solid $color-mid-light;
    bottom: 0;
    padding-top: 1rem;
    padding-right: 1.5rem;
    position: sticky;
    text-align: right;
    height: auto;

    &--hidden {
      max-height: 0;
      overflow: hidden;
      padding: 0;
      border: none;
    }
  }
}

.config-input {
  cursor: pointer;
  padding: 0 0.5rem;
  border-radius: 2px;

  &--focused {
    background-color: $color-light;
  }

  h5 {
    margin-bottom: 0.5rem;
  }

  textarea {
    min-height: 2.3rem;
    height: 2.3rem;
    border: 1px solid #999;
    border-radius: 2px;
  }
}
