@import "../../scss/functions/z-index";

.login {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: z("lambda");
  background-color: rgba(255, 255, 255, 0.5);

  &__inner {
    align-content: center;
    display: grid;
    height: 150px;
    width: 280px;
    background-color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin: auto;

    .p-button--positive {
      margin: 0 auto;
    }
  }

  &__logo {
    display: block;
    margin: 0 auto 2rem;
  }
}
