.access-management {
  &__dropdown-footer {
    border: none;
  }

  &__access-col {
    width: 22rem;

    @include mobile {
      width: 10rem;
    }

    @include medium {
      width: 16rem;
    }
  }

  &__delete-col {
    width: 4rem;
  }
}
