.access-management__delete-col {
  width: 4rem;
}

.access-management {
  .multi-select__input {
    margin-bottom: 0;
    margin-top: $spv--medium;
  }

  .access-management__access-col {
    width: 22rem;
  }
}
