@import "settings";

// 0px -> mobile
@mixin mobile {
  @media screen and (width < $breakpoint-small) {
    @content;
  }
}

// mobile -> inf
@mixin desktop {
  @media screen and (min-width: $breakpoint-small) {
    @content;
  }
}

// mobile -> large
@mixin medium {
  @media screen and ($breakpoint-small <= width < $breakpoint-large) {
    @content;
  }
}

// 0px -> medium
@mixin mobile-and-medium {
  @media screen and (width < $breakpoint-large) {
    @content;
  }
}

// large -> inf
@mixin large {
  @media screen and (min-width: $breakpoint-large) {
    @content;
  }
}

// extra-large -> inf
@mixin extra-large {
  @media screen and (min-width: $breakpoint-x-large) {
    @content;
  }
}
