.l-container {
  display: grid;
  grid-template-columns: 150px 1fr;
  min-height: calc(100vh - 48px);
}

.l-side {
  background: #f7f7f7;
  padding: 0.5rem;
  padding-left: 0;
}

.l-main {
  padding: 1rem;
}
