// Vanilla overrides
$increase-font-size-on-larger-screens: false;

// Custom breakpoints
$breakpoint-m-large: 1580px;

// Custom colors
$color-sidebar: #003b4e;
$color-navigation-dark: #002835;
$color-navigation-highlight: #004e68;
$color-navigation-accent: #3fc8f2;

// Sidebar
$sidebar-full-width: 250px;
$sidebar-collapsed: 48px;
