// Custom colors
$color-blue-highlight-background: #0066cc05;
$color-blue-highlight-border: #06c;

// User menu active/inactive heights
$user-menu-height--inactive: 2rem;
$user-menu-height--active: 7.5rem;
