@import "./functions/z-index";

// Capitalise every world of a string
.u-capitalise {
  text-transform: capitalize;

  // Capitalise only the first letter of a string
  &--first-letter {
    display: inline-block;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

// Overflow overrides
.u-overflow {
  &--scroll {
    overflow: scroll;
  }

  &--auto {
    overflow: auto;
  }

  &--visible {
    overflow: visible;
  }
}

// Display overrides
.u-flex {
  display: flex;

  &--gap {
    gap: $sp-medium;
  }

  &--gap-small {
    gap: $sp-small;
  }

  &--block {
    flex: 1 auto;
  }

  &-grow {
    flex-grow: 1;
  }

  &-shrink {
    flex-shrink: 1;
  }
}

// Extend has-icon to work outside of buttons
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3102
.has-icon [class*="p-icon"]:first-child {
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}

.p-tooltip--constrain-width .p-tooltip__message {
  max-width: 20rem;
  white-space: pre-wrap;

  @media (max-width: $breakpoint-x-small) {
    max-width: 80vw;
  }
}

.p-tooltip--fixed-width .p-tooltip__message {
  @media (max-width: $breakpoint-x-small) {
    white-space: normal;
    width: 80vw;
    word-break: break-word;
  }
}

.p-tooltip__position-element--inline {
  display: inline !important;
}

.u-full-width {
  width: 100%;
}

.p-contextual-menu__dropdown.p-contextual-menu__dropdown--over-panel {
  z-index: z("zelda");
}

.p-modal--min-width .p-modal__dialog {
  min-width: 50%;
}
