// Capitalise every world of a string
.u-capitalise {
  text-transform: capitalize;

  // Capitalise only the first letter of a string
  &--first-letter {
    display: inline-block;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

// Overflow overrides
.u-overflow {
  &--scroll {
    overflow: scroll;
  }

  &--auto {
    overflow: auto;
  }

  &--visible {
    overflow: visible;
  }
}

// Display overrides
.u-flex {
  display: flex;

  &--gap {
    gap: $sp-medium;
  }

  &--block {
    flex: 1 auto;
  }
}

.u-flex-grow {
  flex-grow: 1;
}

// Extend has-icon to work outside of buttons
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3102
.has-icon [class*="p-icon"]:first-child {
  margin-right: 0.25rem;
  margin-top: 0.25rem;
}

.p-tooltip--constrain-width .p-tooltip__message {
  max-width: 20rem;
  white-space: pre-wrap;
}

.p-tooltip__position-element--inline {
  display: inline !important;
}
