// Capitalise every world of a string
.u-capitalise {
  text-transform: capitalize;

  // Capitalise only the first letter of a string
  &--first-letter {
    display: inline-block;

    &::first-letter {
      text-transform: uppercase;
    }
  }
}

// Overflow overrides
.u-overflow {
  &--scroll {
    overflow: scroll;
  }

  &--visible {
    overflow: visible;
  }
}

// Display overrides
.u-display {
  &--flex {
    display: flex;
  }
}
