@import "./functions/z-index";

// Fixes focus styles until fix implemented in Vanilla
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3352
:focus-visible {
  outline: 0.1875rem solid $color-focus;
}

:focus:not(:focus-visible) {
  outline: 0;
}

// Modals should appear above panels.
.p-modal {
  z-index: z("zelda") + 2;
}

// Tooltips need to appear above panels and modals.
.p-tooltip__message {
  z-index: z("zelda") + 3;
}

@media (min-width: $breakpoint-large) {
  body {
    // Override the Vanilla default which sets the position to relative only on
    // large screens. This was causing issues with scrolling the main content in
    // Safari.
    position: unset !important;
  }
}

// Fix for bug: https://github.com/canonical/vanilla-framework/issues/4907.
.p-panel__header.is-sticky {
  background-color: $color-x-light;
}

// Make the skip link visible over the side nav
.p-link--skip {
  background-color: $color-x-light;
}
