// Import Vanilla Framework
@import "vanilla-framework";
@import "vanilla-framework/scss/base_placeholders";
@import "vanilla-framework/scss/patterns_icons";

// Vanilla overrides
$increase-font-size-on-larger-screens: false;
$color-link-visited: $color-link;

@import "@canonical/rebac-admin/dist/rebac-admin.css";

// Import settings
@import "settings";

// Import utils
@import "utils";

// Import breakpoint helpers
@import "breakpoints";

// Import functions
@import "functions/z-index";
@import "variables";

// Import custom patterns
@import "custom/status_icons";
@import "custom/tables";
@import "custom/icons";

// Settings
$grid-max-width: 100%;
$color-navigation-background: $color-brand;

@include vanilla;
@include vf-p-icon-settings;

// Include additional icons
@include vf-p-icon-applications;
@include vf-p-icon-back-to-top;
@include vf-p-icon-controllers;
@include vf-p-icon-filter;
@include vf-p-icon-fullscreen;
@include vf-p-icon-models;
@include vf-p-icon-machines;
@include vf-p-icon-pin;
@include vf-p-icon-revisions;
@include vf-p-icon-units;
@include vf-p-icon-user;
@include vf-p-icon-video-play;
@include vf-p-icon-lock-locked;
@include vf-p-icon-restart;
@include vf-p-icon-security;
@include vf-p-icon-topic;

// Overrides for Vanilla. This needs to be after the Vanilla includes.
@import "vanilla-overrides";

// Component SCSS.
@import "../components/ActionBar/action-bar";
@import "../components/Aside/aside";
@import "../components/AuditLogsTable/AuditLogsTablePagination/audit-logs-table-pagination";
@import "../components/AuditLogsTable/audit-logs-table";
@import "../components/Banner/banner";
@import "../components/ChipGroup/chip-group";
@import "../components/ContentReveal/content-reveal";
@import "../components/InfoPanel/info-panel";
@import "../components/LoadingSpinner/loading-spinner";
@import "../components/LogIn/login";
@import "../components/Logo/logo";
@import "../components/ModelTableList/model-table-list";
@import "../components/Panel/panel";
@import "../components/PrimaryNav/primary-nav";
@import "../components/RadioInputBox/radio-input-box";
@import "../components/SecondaryNavigation/secondary-navigation";
@import "../components/ShareCard/share-card";
@import "../components/ToastCard/toast-card";
@import "../components/TruncatedTooltip/truncated-tooltip";
@import "../components/UserMenu/user-menu";
@import "../components/WebCLI/webcli";
@import "../layout/BaseLayout/base-layout";
@import "../pages/AdvancedSearch/ErrorsBlock/errors-block";
@import "../pages/AdvancedSearch/ResultsBlock/results-block";
@import "../pages/AdvancedSearch/SearchForm/search-form";
@import "../pages/ControllersIndex/ControllerChart/controller-chart";
@import "../pages/ControllersIndex/ControllerOverview/controller-overview";
@import "../pages/ControllersIndex/controllers";
@import "../pages/EntityDetails/Model/Logs/ActionLogs/action-logs";
@import "../pages/EntityDetails/Model/Secrets/SecretsTable/secrets-table";
@import "../pages/EntityDetails/entity-details";
@import "../pages/ModelsIndex/models";
@import "../panels/ConfigPanel/config-panel";
@import "../panels/ShareModelPanel/share-model";
