// Import Vanilla Framework
@import "node_modules/vanilla-framework/scss/vanilla";

// Vanilla overrides
$increase-font-size-on-larger-screens: false;
$color-link-visited: $color-link;
$application-layout--side-nav-width-collapsed: 3rem;
// Override Vanilla to always collapse navigation sidebar
$application-layout--breakpoint-side-nav-expanded: -1;

// Import settings
@import "settings";

// Import utils
@import "utils";

// Import breakpoint helpers
@import "breakpoints";

// Import functions
@import "functions/z-index";

// Import custom patterns
@import "custom/status_icons";
@import "custom/tables";
@import "custom/icons";

// Settings
$grid-max-width: 100%;
$color-navigation-background: $color-brand;

@include vanilla;
@include vf-p-icon-settings;

// Include additional icons
@include vf-p-icon-applications;
@include vf-p-icon-controllers;
@include vf-p-icon-fullscreen;
@include vf-p-icon-models;
@include vf-p-icon-machines;
@include vf-p-icon-pin;
@include vf-p-icon-revisions;
@include vf-p-icon-units;
@include vf-p-icon-user;
@include vf-p-icon-video-play;

// Overrides for Vanilla. This needs to be after the Vanilla includes.
@import "vanilla-overrides";
