// Import Vanilla Framework
@import "node_modules/vanilla-framework/scss/vanilla";

$grid-max-width: 100%;

// Settings
$color-navigation-background: $color-brand;
// XXX remove when updating from Vanilla 2.3.0
// Table font sizing breakpoint is a touch too small for 15" laptop screens
$increase-font-size-on-larger-screens: false;

@include vf-base;
@include vf-p-buttons;
@include vf-p-grid;
@include vf-p-icons;
@include vf-p-links;
@include vf-p-lists;
@include vf-b-typography;
@include vf-p-navigation;
@include vf-p-muted-heading;
@include vf-u-off-screen;
@include vf-p-strip;
@include vf-p-table-expanding;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-table-sortable;
@include vf-u-layout;
@include vf-u-animations;

// Fix consecutive table bug
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2491
table + table {
  margin-top: 1.5rem;
}
