// Import Vanilla Framework
@import "node_modules/vanilla-framework/scss/vanilla";

// Vanilla overrides
$increase-font-size-on-larger-screens: false;
$color-link-visited: $color-link;

// Import settings
@import "settings";

// Import utils
@import "utils";

// Import functions
@import "functions/z-index";

// Import custom patterns
@import "custom/status_icons";
@import "custom/tables";

// Settings
$grid-max-width: 100%;
$color-navigation-background: $color-brand;

@include vf-u-animations;
@include vf-base;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-contextual-menu;
@include vf-p-forms;
@include vf-p-form-help-text;
@include vf-p-grid;
@include vf-p-icons;
@include vf-p-label;
@include vf-p-links;
@include vf-p-lists;
@include vf-b-typography;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-modal;
@include vf-p-muted-heading;
@include vf-u-off-screen;
@include vf-p-strip;
@include vf-p-table-expanding;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-table-sortable;
@include vf-p-tooltips;
@include vf-u-align;
@include vf-u-hide;
@include vf-u-layout;
@include vf-u-truncate;
@include vf-p-switch;

// Fixes focus styles until fix implemented in Vanilla
// https://github.com/canonical-web-and-design/vanilla-framework/issues/3352
:focus-visible {
  outline: 0.1875rem solid $color-focus;
}

:focus:not(:focus-visible) {
  outline: 0;
}
