// Import Vanilla Framework
@import "node_modules/vanilla-framework/scss/vanilla";

// Import settings
@import "settings";

// Import utils
@import "utils";

// Import functions
@import "functions/z-index";

// Import custom patterns
@import "custom/status_icons";
@import "custom/tables";

// Settings
$grid-max-width: 100%;
$color-navigation-background: $color-brand;

@include vf-u-animations;
@include vf-base;
@include vf-p-buttons;
@include vf-p-card;
@include vf-p-contextual-menu;
@include vf-p-grid;
@include vf-p-icons;
@include vf-p-links;
@include vf-p-lists;
@include vf-b-typography;
@include vf-p-navigation;
@include vf-p-notification;
@include vf-p-muted-heading;
@include vf-u-off-screen;
@include vf-p-strip;
@include vf-p-table-expanding;
@include vf-p-table-of-contents;
@include vf-p-table-mobile-card;
@include vf-p-table-sortable;
@include vf-p-tooltips;
@include vf-u-align;
@include vf-u-layout;

// Fix consecutive table bug
// https://github.com/canonical-web-and-design/vanilla-framework/issues/2491
table + table {
  margin-top: 1.5rem;
}
