.destroy-models-panel {
  &__actions {
    display: flex;
    flex-direction: column;
    gap: $spv--small;
  }

  &__review-warning {
    margin-bottom: $spv--x-large;
  }

  &__accordion {
    .p-accordion__tab {
      padding-left: 0;
    }

    .p-accordion__panel {
      padding-left: $spv--x-large;
      padding-right: $spv--large;
    }
  }
}
