@import "vanilla-framework/scss/vanilla";
@import "../../scss/breakpoints";

.controllers {
  th,
  td {
    // Name.
    &:nth-child(1) {
      white-space: nowrap;
      width: 20%;
    }

    // Status.
    &:nth-child(2) {
      width: 15%;
    }

    // Cloud.
    &:nth-child(3) {
      width: 15%;
    }
  }

  &--header {
    border-bottom: 1px solid $colors--light-theme--border-default;
    color: $color-mid-dark;
    display: inline-grid;
    font-size: 0.7656rem;
    font-weight: 400;
    grid-template-columns: repeat(2, 50%);
    margin-bottom: 1rem;
    padding: 0.25rem 0 0.5rem 1rem;
    text-transform: uppercase;
    width: 100%;

    @include mobile {
      gap: $sph--large;
      grid-template-columns: repeat(1, 100%);
      padding-top: 0;
    }

    .controllers__heading {
      color: $color-dark;
      padding-top: 0.8rem;
      position: relative;
      top: 0.5rem;

      @include mobile {
        padding-top: 0;
        top: 0;
      }
    }

    .controllers--register {
      text-align: right;

      @include mobile {
        text-align: left;
      }
    }

    button {
      margin: 0;
      max-width: 15rem;
    }
  }

  &__status {
    // Display block so that the status gets truncated if it doesn't fit in the
    // cell.
    display: block !important;
  }
}
