.truncated-commands {
  &__content {
    vertical-align: bottom;
  }

  button.truncated-commands__toggle[aria-expanded] {
    background-color: $color-x-light;
    text-wrap: nowrap;
  }

  &--is-collapsed {
    display: flex;
  }

  &--is-expanded {
    display: inline-block;
  }
}
