@import "../../scss/settings";
@import "vanilla-framework/scss/vanilla";

.user-menu {
  @include vf-animation(all, brisk, ease-in-out);

  bottom: 0;
  max-height: $user-menu-height--inactive;
  overflow: hidden;
  position: absolute;
  width: 100%;

  &.is-active {
    max-height: $user-menu-height--active;
  }

  &__toggle {
    cursor: pointer;

    .p-icon--chevron-up {
      @at-root {
        .is-active .p-icon--chevron-up {
          transform: none;
        }
      }

      transform: rotate(180deg);
    }
  }
}
