@import "vanilla-framework/scss/vanilla";

.banner {
  background: $color-caution;
  color: $color-brand;
  max-height: 0;
  padding: 0;
  text-align: center;
  transition: all 0.25s;

  &[data-active="true"] {
    max-height: 100%;
    padding: 0.775rem;
  }

  &[data-type="caution"] {
    background: $color-caution;
  }

  &[data-type="positive"] {
    background: $color-positive;
    color: $color-light;

    a {
      color: $color-light;
      text-decoration: underline;
    }
  }

  p {
    margin: 0;
    max-width: 100%;
    padding: 0;
  }
}
