@import "vanilla-framework/scss/vanilla";
@import "../../scss/breakpoints";

.models .p-main-table caption {
  margin-top: 0.5rem;
}

.model-table-list_error-message {
  &,
  & a,
  & a:visited {
    color: $color-negative;
    display: block;
    font-size: #{map-get($font-sizes, small)}rem;
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
}

.models {
  .model-access {
    display: none;
    font-size: #{map-get($font-sizes, small)}rem;
    line-height: 1.5;
    margin-bottom: 0;
    width: 100%;
  }

  .lrg-screen-access-cell {
    button {
      margin-left: auto;
      margin-right: 0;
      max-width: 100px;
      text-align: center;
    }
  }

  @include desktop {
    tr:hover {
      .model-access {
        display: block;
        margin-bottom: 0;
        padding: 0;
        width: 100%;
      }

      .has-permission .model-access-alt {
        display: none;
      }
    }
  }

  .status-group {
    td,
    th {
      @include mobile-and-medium {
        // Credential
        &:nth-child(5),
        // Controller
        &:nth-child(6) {
          display: none;
        }
      }

      @include mobile {
        // Summary icons
        &:nth-child(2) {
          display: none;
        }
        // Last updated
        &:nth-child(7) {
          display: none;
        }
      }
    }
  }

  .owners-group {
    td,
    th {
      @include mobile-and-medium {
        // Credential
        &:nth-child(5),
        // Controller
        &:nth-child(6) {
          display: none;
        }
      }

      @include mobile {
        // Summary icons
        &:nth-child(2) {
          display: none;
        }
        // Last updated
        &:nth-child(7) {
          display: none;
        }
      }
    }
  }

  .cloud-group {
    td,
    th {
      @include mobile-and-medium {
        // Credential
        &:nth-child(6),
        // Controller
        &:nth-child(7) {
          display: none;
        }
      }

      @include mobile {
        // Summary icons
        &:nth-child(2) {
          display: none;
        }
        // Status
        &:nth-child(4) {
          display: none;
        }
        // Last updated
        &:nth-child(8) {
          display: none;
        }
      }
    }
  }
}
